- if user_signed_in?
  = form_tag create_comment_trip_path(trip) do
    %h2
      = label_tag :body, t('.add_comment')
    = text_area_tag :body, '', class: 'comment_body'
    %br/
    = submit_tag t('.add_comment')
- else
  %p
    = link_to t('.log_in'), new_user_session_path
    = t('general.or')
    = link_to t('.register'), new_user_registration_path
    = t('.to_comment')
