.byline
  %ul.inline-list
    %li
      %i.icon-pencil
      = link_to_user(trip.user)
    %li
      %i.icon-time
        = trip.departure.strftime("%B %d, %Y")
    - unless trip.rides.with_photo.empty?
      %li
        %span.tip{title: pluralize(trip.rides.with_photo.size, t('general.photo'))}
          = trip.rides.with_photo.size
          %i.icon-picture
    %li
      %span.no-wrap.tip{title: pluralize(trip.rides.size, t('general.ride'))}
        %i.icon-thumbs-up
        = trip.rides.size
    %li
      %span.tip{title: "#{number_with_delimiter(trip.hitchhiked_kms)} #{t('general.hitchhiked_kms')}"}
        = number_with_delimiter(trip.hitchhiked_kms, :delimiter => ".")
        kms
        %i.icon-dashboard

    %li
      %span.tip{title: t('general.average_speed', speed: trip.average_speed )}
        = trip.average_speed
        %i.icon-dashboard

.entry-meta
  %i.icon-long-arrow-right.tip{title: t('.trip_duration', time: accurate_time(trip.duration))}
    = accurate_time(trip.arrival - trip.departure)
  &nbsp;&nbsp;

  - if trip.total_waiting_time
    %span.tip{title: t('general.total_waiting_time', time: trip.total_waiting_time)}
      %i.icon-time
      = trip.total_waiting_time
    &nbsp;&nbsp;

  %span.tip{title: t('.google_maps_duration', time: accurate_time( trip.gmaps_duration))} 
    %b G 
    = accurate_time(trip.gmaps_duration)

.entry-meta.tags
  - if trip.tag_list.any?
    %i.icon-tags
    = tags(trip.tag_list)
    &nbsp;&nbsp;

