%section#view-comments.entry-comments.clearfix
  %h3
    = pluralize(trip.comments.size, t('general.comment'))
  %ul
    - trip.comments.each do |comment|
      - if comment.user
        %li
          %footer.comment-meta.comment-picture
            = link_to user_path(comment.user) do
              = render 'users/profile_image', user: comment.user, type: 'square'

            .comment-meta
              %span.comment-author.vcard
                %cite
                  = link_to comment.user, user_path(comment.user)
              %time.published
                - if comment.created_at > 20.days.ago
                  = t('general.time_ago', time: time_ago_in_words(comment.created_at))
                - else
                  = comment.created_at.strftime("%B %d, %Y %H:%M")

        .text
          = RDiscount.new(comment.body, :smart, :filter_html).to_html.html_safe
          #comment-form

  - if user_signed_in?
    %h3= t('.leave_comment')
    = form_tag create_comment_trip_path(trip) do
      %span.inputwrapper
        = label_tag :body, t('general.message')
        = text_area_tag :body, '', class: 'comment_body', rows: 5, cols: 30
      %br/
      %input.btn.btn-primary{:name => "submit", :type => "submit", value: t('.add_comment')}/
  - else
    %p
      = link_to new_user_session_path do
        = t('.log_in_or_register_to_comment')

