= form_for trip, :html => {:class => "fancy_form"} do |f|
  %table.float_left
    = render 'shared/error_explanation', :model => trip
    %tr.text_field
      %td= f.label :from
      %td.suggest_td
        = f.text_field :from, :autofocus => '', :required => '', :placeholder => t('activerecord.attributes.trip.from')
        #suggest_from.suggest

    %tr.text_field
      %td= f.label :to
      %td.suggest_td
        = f.text_field :to, :required=>'', :placeholder => t('activerecord.attributes.trip.to')
        #suggest_to.suggest

    - if trip.new_record?
      %tr.text_field
        %td= f.label :hitchhikes
        %td= f.text_field :hitchhikes, :required => '', :placeholder => t('activerecord.attributes.trip.hitchhikes')
      
    %tr.text_field
      %td= f.label :departure
      - if trip.departure.nil?
        %td= f.text_field :departure, :required => '', :placeholder => t('activerecord.attributes.trip.departure')
      - else
        %td= text_field_tag 'trip[departure]', trip.departure.strftime("%d/%m/%Y %H:%M"), :size => 30, :placeholder => t('activerecord.attributes.trip.departure')
    %tr.text_field
      %td= f.label :arrival
      %td= f.text_field :arrival, :required => '', :placeholder => t('activerecord.attributes.trip.arrival')
    %tr.select_field
      %td= f.label :travelling_with, :required=>''
      %td
        = select_tag "trip[travelling_with]", "<option value='0'>#{t('helper.trip.alone')}</option><option value='1'>#{t('helper.trip.with_1')}</option><option value='2'>#{t('helper.trip.with_2')}</option><option value='3'>#{t('helper.trip.with_3')}</option><option value='4'>#{t('helper.trip.with_4')}</option>".html_safe
        .float_right#trip_distance_display.trip_km_display

    = f.hidden_field :route
    = hidden_field_tag 'trip[distance]', 1000
    = hidden_field_tag 'trip[gmaps_duration]', 0

    = f.hidden_field :from_lat
    = f.hidden_field :from_lng
    = f.hidden_field :from_formatted_address
    = f.hidden_field :from_city
    = f.hidden_field :from_country
    = f.hidden_field :from_postal_code
    = f.hidden_field :from_street
    = f.hidden_field :from_street_no

    = f.hidden_field :to_lat
    = f.hidden_field :to_lng
    = f.hidden_field :to_formatted_address
    = f.hidden_field :to_city
    = f.hidden_field :to_country
    = f.hidden_field :to_postal_code
    = f.hidden_field :to_street
    = f.hidden_field :to_street_no    

  = f.submit t('.step1_2'), :class => 'button light'

- content_for :javascript_at_bottom do
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}  
  = javascript_include_tag 'new_trip'
