- by ||= false

%table.trips.responsive
  %thead
    %tr
      %th Trips
      - if by
        %th= t('.by')
      %th= t('activerecord.attributes.trip.distance')
      %th.trip-properties
        %i.icon-star-empty
      %th= t('.date')

  %tbody
    - trips.each do |trip|
      %tr{:id => "trip_#{trip.id}"}
        %td
          = link_to trip.to_s.html_safe, trip
          = link_to t('.edit'), edit_trip_path(trip) if trip.user == current_user
          - rides_with_story = trip.rides.select {|ride| !ride.story.blank? }
          - rides_with_story.each_with_index do |ride, i|
            - unless ride.title.blank?
              %p
                %b= ride.title
            .story{:class => ((rides_with_story.size - 1) == i) ? "last" : ''}
              = truncated_markdown(ride.story)
        - if by
          %td.no-wrap= user_with_gender(trip.user)
        %td.no-wrap= distance( trip.distance )
        %td
          %span.no-wrap.tip{title: pluralize(trip.comments.size, t('general.comment'))}
            = trip.comments.size
            %i.icon-comments-alt
          %span.no-wrap.tip{title: pluralize(trip.rides.size, t('general.ride'))}
            = trip.rides.size
            %i.icon-thumbs-up
          %span.tip{title: pluralize(trip.rides.with_photo.size, t('general.photo'))}
            = trip.rides.with_photo.size
            %i.icon-picture
          = images_for_trip(trip)
          = country_images_for_trip(trip)
          = link_to experience_image((trip.overall_experience)), trip_path(trip)
        - unless trip.departure.nil?
          %td.no-wrap
            - if trip.departure > 12.month.ago
              = t('general.time_ago', :time => time_ago_in_words(trip.departure))
            - else
              = trip.departure.strftime("%d %B %Y")
