- by ||= false

%table.trips.responsive
  %tbody
    - trips.each do |trip|
      %tr{id: "trip_#{trip.id}"}
        %td
          = link_to trip.to_s.html_safe, trip
          = distance( trip.distance )
          - if by
            = t('.hitchhiked_by', user: user_with_gender(trip.user))

          = icons_for_trip(trip)
          = tags(trip.tag_list)
          = link_to t('general.edit'), edit_trip_path(trip) if trip.user == current_user

          - trip.rides.with_story.each do |ride|
            - if ride.title.present?
              %p
                %i= ride.title
            = truncated_markdown(ride.story)

        %td.no-wrap
          - if trip.departure > 12.month.ago
            = t('general.time_ago', time: time_ago_in_words(trip.departure))
          - else
            = trip.departure.strftime("%d %B %Y")
