- for hitchhike in trip.hitchhikes
  %li
    = show_attribute("Title", hitchhike.title)
    = show_attribute("Story", hitchhike.story[0..200]) unless hitchhike.story.blank?
    = show_attribute("Waiting Time", hitchhike.waiting_time, {:time => :minutes})
    = show_attribute("Duration", human_hours(hitchhike.duration)) unless hitchhike.duration.blank?
    - if hitchhike.photo.file?
      Has Photo!
      %br/
    - unless hitchhike.person.empty?
      About the driver:
      %ul.person
        -unless hitchhike.person.name.blank?
          %li= "Name: #{h(hitchhike.person.name)}" 
        - unless hitchhike.person.occupation.blank?
          %li= "Occupation: #{h(hitchhike.person.occupation)}"
        - unless hitchhike.person.mission.blank?
          %li= "Mission: #{h(hitchhike.person.mission)}"
        - unless hitchhike.person.origin.blank?
          %li= "Origin: #{h(hitchhike.person.origin)}"
        - unless hitchhike.person.age.blank?
          %li= "Age: #{h(hitchhike.person.age)}"
    = link_to_hitchhike(hitchhike)
    - if trip.user == current_user
      = link_to "edit", edit_hitchhike_path(hitchhike)
      = link_to "delete", hitchhike_path(hitchhike), :remote => :true, :method => :delete, :confirm => 'Are you sure?' 

