%h4 Rides:
- trip.hitchhikes.each_with_index do |hitchhike, i|
  %li
    %h3
      = number_to_ordinal(i+1)
      = images_for_hitchhike(hitchhike)
      = images_missing_for_hitchhike(hitchhike)
      - if trip.user == current_user
        = delete_ride(hitchhike)
        = link_to add_information_image, edit_hitchhike_path(hitchhike)
