.text-center
  = search_form_for q, url: '' do |f|
    = f.check_box :rides_photo_present
    = f.label :rides_photo_present, t('general.photo')
    &nbsp;
    = f.check_box :rides_title_or_rides_story_present
    = f.label :rides_title_or_rides_story_present, t('general.story')
    &nbsp;
    = f.check_box :rides_youtube_present
    = f.label :rides_youtube_present, t('general.video')
    &nbsp;
    = f.select :rides_experience_eq, options_for_experiences.html_safe, prompt: t('general.experience')
    &nbsp;
    = f.select :country_distances_country_eq, options_for_countries.html_safe, prompt: t('general.country')
    = submit_tag t('general.search'), class: 'btn btn-primary'
