%h1
  #{number_to_ordinal(ride.number)} Ride 
  = "- #{ride.title}" if ride.title
  - ride.trip.countries_with_distance.each do |hash|
    = country_images(hash)
%p
  = images_for_ride(ride)
  - if ride.trip.user == current_user
    = link_to images_missing_for_ride(ride), edit_trip_path(ride.trip)
    = link_to add_information_image, edit_trip_path(ride.trip)
%p
  = ride.story
