.display_rides.box
  %div{:id => "ride_#{ride.number}"}
    %strong
      = t('.ride')
      = ride.number
    %br/
    = images_for_ride(ride)
    = images_missing_for_ride(ride)
    - if ride.trip.user == current_user
      = link_to add_information_image, edit_trip_path(ride.trip)
