%table
  %tr
    %th= t('.ride')
    %th
  %tr{ :id => "ride_#{ride.number}" }
    %td
      #{ride.number}/#{ride.trip.rides.size}
    %td
      = images_for_ride(ride)
  -# = images_missing_for_ride(ride)
  -# - if ride.trip.user == current_user
  -#   = link_to add_information_image, edit_trip_path(ride.trip)
