%h1
  #{number_to_ordinal(ride.number)} Ride 
  = "- #{ride.title}" if ride.title

%p
  = images_for_ride(ride)
  - if ride.trip.user == current_user
    = link_to images_missing_for_ride(ride), edit_trip_path(ride.trip)
    = link_to add_information_image, edit_trip_path(ride.trip)

.trip_story
  = RDiscount.new(ride.story).to_html.html_safe
    
