= hidden_field_tag :trip_from,  trip.to_formatted_address 
= hidden_field_tag :trip_to,    trip.from_formatted_address
= hidden_field_tag :trip_route, trip.route

- unless trip.to_date.blank?
  #trip_date
    = trip.start.strftime("%d")
    %br/
    = trip.start.strftime("%B")
    %br/
    = trip.start.strftime("%Y")

%h1.text_center
  = hitchhiking_with_image(trip.travelling_with)
  = country_images_for_trip(trip)
  = trip.from_city
  &rarr;
  = trip.to_city
  = link_to t('.edit_trip'), edit_trip_path(trip) if trip.user == current_user

- trip.rides.not_empty.each do |ride|
  = render 'show_ride', :ride => ride
