- trip.rides.with_story_or_photo.oldest_first.each do |ride|
  .entry-content.ride_detail
    %footer.entry-footer
      %span.blog.date
        %span.day= ride.number.ordinalize
        %span.month= t('general.ride')

    %article
      %h3= ride.title if ride.title
      %p.story_icons
        = tags(ride.tags)
        = experience(ride.experience)
        = passenger_gender(ride.gender)
        = waiting_time(accurate_time(ride.waiting_time.minutes)) if ride.waiting_time
        = driving_time(human_hours(ride.duration)) if ride.duration
        - if ride.vehicle
          = icon(ride.vehicle, class: 'tip', title: t('general.got_a_ride_with', vehicle: ride.vehicle))

      = photo_for_ride(ride) if ride.photo.url.present?
      = ride.markdown_story  if ride.story.present?

      %hr/

