- trip.rides.with_story.oldest_first.each do |ride|
  .entry-content.ride_detail
    %footer.entry-footer
      %span.blog.date
        %span.day= ride.number.ordinalize
        %span.month= t('general.ride')

    %article
      %h3
        = ride.title
      %p.story_icons
        = tags(ride.tag_list)
        = experience(ride.experience)
        = passenger_gender(ride.gender)
        = waiting_time(accurate_time(ride.waiting_time.minutes)) if ride.waiting_time
        = driving_time(human_hours(ride.duration)) if ride.duration
        - if ride.vehicle
          %span.tip{title: t('general.got_a_ride_with', vehicle: ride.vehicle)}
            = ride.vehicle

      = photo_for_ride(ride) if ride.photo.url.present?
      = ride.markdown_story  if ride.story.present?

      %hr/

