- trip.rides.with_story.oldest_first.each do |ride|
  .entry-content.ride_detail
    %footer.entry-footer
      %span.blog.date
        %span.day= ride.number.ordinalize
        %span.month= t('general.ride')

    %article
      %h3
        = ride.title
        = experience(ride.experience)
        = passenger_gender(ride.gender)
        = waiting_time(human_minutes(ride.waiting_time)) if ride.waiting_time
        = driving_time(human_hours(ride.duration)) if ride.duration

      = ride.markdown_story if ride.story.present?

    %hr/
