%h1.text_center
  = trip.to_s
  = link_to t('.edit_trip'), edit_trip_path(trip) if trip.user == current_user

.images_for_trip
  = hitchhiking_with_image(trip.travelling_with)
  = overall_experience_image(trip.overall_experience)
  = country_images_for_trip(trip)

%p.user_hitchhiked_text
  = t('hitchslider.user_hitchhiked_text', user: trip.user.to_s,
                                          time: (trip.departure ? time_ago_in_words(trip.departure) : nil),
                                          distance: distance(trip.distance),
                                          from: trip.from,
                                          to: trip.to,
                                          rides_size: trip.rides.size).html_safe
  %br/
  - if trip.duration && trip.duration != 0
    = t('hitchslider.it_took_text', time: human_seconds(trip.duration)).html_safe
  - if trip.gmaps_duration && trip.gmaps_duration != 0
    = t('hitchslider.google_maps_text', gmaps_duration: human_seconds(trip.gmaps_duration),
                             user: trip.user.to_s,
                             gmaps_difference: gmaps_difference(trip)).html_safe

- trip.rides.select {|ride| not ride.story.blank?}.each do |ride|
  .ride_story
    %h2
      = ride.title if ride.title
      %span.subtitle
        (#{t('.ride')} #{ride.number})
        = experience_image(ride.experience)
        = gender_people_image(ride.gender)
        = waiting_time_image(human_minutes(ride.waiting_time))
        = driving_time_image(human_hours(ride.duration))

    - unless ride.story.blank?
      .trip_story
        = ride.markdown_story


= render 'comments', comments: trip.comments

- if user_signed_in?
  = form_tag create_comment_trip_path(@trip) do
    %h2
      = label_tag :body, t('.add_comment')
    = text_area_tag :body, '', class: 'comment_body'
    %br/
    = submit_tag t('.add_comment')
- else
  %p
    = link_to t('.log_in'), new_user_session_path
    = t('general.or')
    = link_to t('.register'), new_user_registration_path
    = t('.to_comment')
