#trips_index
  %table
    %tr
      %th Trips
      %th
      %th
      %th
      %th
      %th
      %th Started At
      %th Created At
    - trips.each do |trip|
      %tr
        %td
          %h5
            = link_to trip.to_s.html_safe, trip
        %td
          - trip.countries_with_distance.each do |c|
            = image_tag "flags/png/#{c[:country].to_country_code.downcase}.png", :class => 'tooltip', :alt => "#{c[:country]} #{distance( c[:distance] )}"
        %td
          = trip.hitchhikes.size
          = ride_image(trip.hitchhikes.size)
        %td #{distance( trip.distance )}
        %td #{link_to trip.user, user_path(trip.user)}
        %td #{trip.to_date}
        %td.started_at 
          = "#{time_ago_in_words trip.start} ago" unless trip.start.nil?
        %td.created_at #{time_ago_in_words trip.created_at} ago

= will_paginate trips
