= form_for @trip do |f|
  =   render :partial => 'shared/error_explanation', :locals => {:model => @trip}
  %p
    = f.label :from
    %br/
    = f.text_field :from
  %p
    = f.label :to
    %br/
    = f.text_field :to
  %p
    = f.label :date, 'When (format: mm/dd/yyyy)'
    %br/
    - if @trip.date.nil?
      =f.text_field :date
    - else
      = text_field_tag 'trip[date]', @trip.date.strftime("%m/%d/%Y"), :size => 30
  - if @trip.new_record?
    %p
      = f.label :rides, 'Number of rides'
      %br/
      = f.text_field :rides
  %h4
    Optional:
  %p
    = f.label :duration, 'Time the trip took (in hours)'
    %br/
    = f.text_field :duration
  %p
    = f.label :travelling_with, 'Travelling'
    %br/
    = select_tag "trip[travelling_with]", "<option value='0'>Alone</option><option value='1'>With 1 Peron</option><option value='2'>With 2 Peron</option><option value='3'>With 3 Peron</option><option value='4'>With 4 Peron</option>".html_safe
  %p
    = f.label :money_spent, 'Money spent on road in Euro'
    %br/
    = f.text_field :money_spent

  %p= f.submit "Submit"

:javascript
  $("#trip_date").timepicker();
