.trips
  %ul
    - for trip in @trips
      %li
        = trip_date(trip)
        = link_to_trip(trip)
        by
        = link_to(trip.user, user_path(trip.user))
        / |
        / = link_to('show rides', '#', :remote => true)
      = content_tag_for :ol, trip, :class => 'hidden' do
        - for hitchhike in trip.hitchhikes
          %li
            = hitchhike.to_s
            - if trip.user == current_user
              = link_to "edit", edit_trip_hitchhike_path(trip, hitchhike)
              = link_to "delete", trip_hitchhike_path(trip, hitchhike), :method => :delete, :confirm => 'Are you sure?' 

    = will_paginate @trips

:javascript
  $('h3.date').parent().css("margin-top","20px");


/ .trips
/   %ul
/     - for trip in @trips
/       %li
/         = trip.to_date
/         %span.italic
/           by: 
/           =link_to trip.user.username, user_path(trip.user.username)
/         %br/
/         = trip.from.capitalize
/         &rarr;
/         = trip.to.capitalize
/         ="(#{distance(trip.distance)})"
/         - if trip.user == current_user
/           = link_to "edit", edit_trip_path(trip)
/           = link_to "delete", trip_path(trip), :method => :delete, :confirm => 'Are you sure?' 
/         %br/
/         = "This trip took #{pluralize(trip.hitchhikes.size, 'Ride')}:"
/         %ol
/         = link_to 'Add Hitchhike', new_trip_hitchhike_path(trip) 
/         to Trip