= form_for @trip, :html => {:class => "trip_form"} do |f|
  =   render :partial => 'shared/error_explanation', :locals => {:model => @trip}
  %p
    = f.label :from
    %br/
    = f.text_field :from
  %p
    = f.label :to
    %br/
    = f.text_field :to
  %p
    = f.label :start, 'Started at'
    %br/
    - if @trip.start.nil?
      =f.text_field :start
    - else
      = text_field_tag 'trip[start]', @trip.start.strftime("%d/%m/%Y %H:%M"), :size => 30
  %p
    = f.label :end, 'Arrival at'
    %br/
    - if @trip.end.nil?
      =f.text_field :end
    - else
      = text_field_tag 'trip[end]', @trip.end.strftime("%d/%m/%Y %H:%M"), :size => 30
  - if @trip.new_record?
    %p
      = f.label :rides, 'Number of rides'
      %br/
      = f.text_field :rides
  %h4
    Optional:
  %p
    = f.label :travelling_with, 'Travelling'
    %br/
    = select_tag "trip[travelling_with]", "<option value='0'>Alone</option><option value='1'>With 1 Peron</option><option value='2'>With 2 Peron</option><option value='3'>With 3 Peron</option><option value='4'>With 4 Peron</option>".html_safe
  %p
    = f.label :money_spent, 'Money spent on road in Euro'
    %br/
    = f.text_field :money_spent

  %p= f.submit "Submit"

:javascript
  $("#trip_start").datetimepicker({maxDate: new Date(), dateFormat: 'dd/mm/yy'});

  $("#trip_end").datetimepicker({dateFormat: 'dd/mm/yy'});
  $("#trip_end").focus(function(){
    $("#trip_end").datetimepicker('setDate', $("#trip_start").datetimepicker('getDate') )
  })
