%h1.text_center
  = trip.to_s
  = link_to t('.edit_trip'), edit_trip_path(trip) if trip.user == current_user

.images_for_trip
  = hitchhiking_with_image(trip.travelling_with)
  = experience_image(trip.overall_experience)
  = country_images_for_trip(trip)

%p
  - if trip.start
    = t('.time_ago', time: time_ago_in_words(trip.start).capitalize)
  = t('.user_hitchhiked_text', user: trip.user.to_s, distance: distance(trip.distance), from: trip.from, to: trip.to, rides_size: trip.rides.size).html_safe
  %br/
  - if trip.duration && trip.duration != 0
    = t('.it_took_him_text', him_or_her: him_or_her(trip.user), time: human_seconds(trip.duration)).html_safe
  - if trip.gmaps_duration && trip.gmaps_duration != 0
    = t('.google_maps_text', gmaps_duration: human_seconds(trip.gmaps_duration), user: trip.user.to_s, gmaps_difference: gmaps_difference(trip)).html_safe

- trip.rides.select {|ride| not ride.story.blank?}.each do |ride|
  %h2
    = ride.title if ride.title
    %span.subtitle
      (#{t('.ride')} #{ride.number})
      = experience_image(ride.experience)

  - unless ride.story.blank?
    .trip_story
      = RDiscount.new(ride.story).to_html.html_safe

.display_rides
  %table#rides_list.colorize_table
    - trip.rides.not_empty.each do |ride|
      %tr{ :id => "ride_#{ride.number}" }
        %th
          = t('.ride')
          #{ride.number}/#{ride.trip.rides.size}
        %td
          = images_for_ride(ride)
          = experience_image(ride.experience)

#disqus_thread
