.yellow_box.trip_form_box
  - if @trip.new_record?
    %h3 Log a new Hitchhiking Trip
  - else
    %h3 Edit Hitchhiking Trip
  .description 
    A trip is a hitchhiking trip from <b>one city to another city</b> which is most of
    the time just one day.  For longer trips you can continue a trip later. That way 
    you will be able to see the waypoints on the map.
    
  = form_for @trip, :html => {:class => "trip_form"} do |f|
    -#=   render :partial => 'shared/error_explanation', :locals => {:model => @trip}
    .text_field
      = f.label :from
      = f.text_field :from
    .text_field
      = f.label :to
      = f.text_field :to
    .text_field
      = f.label :start, 'Started at'
      - if @trip.start.nil?
        =f.text_field :start
      - else
        = text_field_tag 'trip[start]', @trip.start.strftime("%e/%m/%Y"), :size => 30, :id => 'trip_start'
      - if @trip.start_time.nil?
        = text_field_tag 'trip[start_time]', nil, :id => 'trip_start_time'
      - else 
        = text_field_tag 'trip[start_time]', @trip.start_time, :id => 'trip_start_time'

    .text_field
      = f.label :end, 'Arrival at'
      - if @trip.end.nil?
        =f.text_field :end
      - else
        = text_field_tag 'trip[end]', @trip.end.strftime("%e/%m/%Y"), :size => 30
      - if @trip.end_time.nil?
        = text_field_tag 'trip[end_time]', nil, :id => 'trip_end_time'
      - else 
        = text_field_tag 'trip[end_time]', @trip.end_time, :id => 'trip_end_time'

    - if @trip.new_record?
      .text_field
        = f.label :rides, 'Number of rides'
        = f.text_field :rides
    .select_field
      = f.label :travelling_with, 'Travelling'
      = select_tag "trip[travelling_with]", "<option value='0'>Alone</option><option value='1'>With 1 Person</option><option value='2'>With 2 People</option><option value='3'>With 3 People</option><option value='4'>With 4 People</option>".html_safe
    -#.text_field
      -#= f.label :money_spent, 'Money spent on road in Euro'
      -#= f.text_field :money_spent

    %p= f.submit "Submit"

:javascript
  $('#trip_start').calendricalDate()
  $('#trip_end').calendricalDate()
  $('#trip_start_time').calendricalTime()
  $('#trip_end_time').calendricalTime()

