= form_for @trip do |f|
  = render :partial => 'shared/error_explanation', :locals => {:model => @trip}
  %p
    = f.label :from
    %br/
    = f.text_field :from
  %p
    = f.label :to
    %br/
    = f.text_field :to
  %p
    = f.label :date, 'When (format: mm/dd/yyyy)'
    %br/
    - if @trip.date.nil?
      =f.text_field :date
    - else
      = text_field_tag 'trip[date]', @trip.date.strftime("%m/%d/%Y"), :size => 30
  - if @trip.new_record?
    %p
      = f.label :rides, 'Number of rides'
      %br/
      = f.text_field :rides
  %p
    = f.label :duration, 'Time the trip took (in hours)'
    %br/
    = f.text_field :duration

  %p= f.submit "Submit"
