%ul.trips
  - trips.each do |trip|
    .trips_index_box
      -#= render 'hitchhikes/hitchhike_buttons', :trip => trip
      %h2= trip
      %p
        #{trip.to_date}, #{pluralize(trip.hitchhikes.size, 'ride')},
        <b>#{distance( trip.distance )}</b> by #{link_to trip.user, user_path(trip.user)}

      = render 'rides_box', :trip => trip


  = will_paginate trips

