.column_wrapper
  .left_column#map
  .right_column
    = form_for @trip, :remote => true, :html => {:id => 'trip_form'} do |f|
      = f.hidden_field :route
      = f.hidden_field :distance
      = f.hidden_field :gmaps_duration

      = f.hidden_field :from
      = f.hidden_field :to
      = f.hidden_field :from_formatted_address
      = f.hidden_field :to_formatted_address
      .hidden= submit_tag
      #trip_info
        .float_right#trip_distance_display.trip_km_display

        %h3
          = t('.trip_details')
          #{link_to delete_trip_image, trip_path(@trip), :method => :delete, :confirm => t('general.confirm')}:
        -# Crossed countries needs to be repaired
        -# = country_images_for_trip(@trip)
        %ul
          %li
            = hitchhiking_with_image(@trip.travelling_with)
            = driving_time_image(human_seconds(@trip.duration)) 
          %li 
            #{t('activerecord.attributes.trip.from')}: #{@trip.sanitize_address("from")}
          %li
            #{t('activerecord.attributes.trip.to')}: #{@trip.sanitize_address("to")}
          - if @trip.arrival
            %li
              #{t('activerecord.attributes.trip.start')}:
              = @trip.arrival
          - if @trip.departure
            %li
              #{t('activerecord.attributes.trip.end')}:
              = @trip.departure
          - if @trip.gmaps_duration && @trip.gmaps_duration != 0
            %li
              #{t('activerecord.attributes.trip.gmaps_duration')}:
              = human_seconds(@trip.gmaps_duration) 
          - if @trip.duration
            %li#duration
              #{t('activerecord.attributes.trip.duration')}:
              = human_seconds(@trip.duration) 
          - if @trip.hitchability
            %li
              = t('.hitchability_factor')
              = @trip.hitchability
            %li
              - if @trip.gmaps_difference > 0
                = t('.it_took_you_longer', :hours => human_seconds(@trip.gmaps_difference)).html_safe
              - else
                = t('.you_were_faster', :hours => human_seconds(@trip.gmaps_difference * (-1))).html_safe

    #accordion
      = render @trip.rides

-content_for :head do
  :css
    html #content .container{
      padding: 0 0 40px 0;
      width: auto;
    }

- content_for :javascript_at_bottom do
  = javascript_include_tag 'map'
  = javascript_include_tag 'edit_trip'
