- title t('.edit_title')

.row-fluid
  .span8.primary-column.trip-detail
    = render 'trips/trip', trip: trip
    = simple_form_for trip, :remote => true, :html => {:id => 'trip_form'} do |f|
      = f.hidden_field :route
      = f.hidden_field :distance
      = f.hidden_field :gmaps_duration

      = f.hidden_field :from
      = f.hidden_field :to
      = f.hidden_field :from_formatted_address
      = f.hidden_field :to_formatted_address
      .hidden= submit_tag

  %section.span4.sidebar.secondary-column#secondary-nav
    %h4
      = t('.edit_trip')
      = link_to trip_path(trip), :method => :delete, data: { confirm: t('general.confirm') }, class: 'btn btn-danger' do
        = t('general.delete')
    %p
      #{t('activerecord.attributes.trip.departure')}:
      = trip.departure.strftime("%d %B %Y %H:%S")
      %br/
      #{t('activerecord.attributes.trip.arrival')}:
      = trip.arrival.strftime("%d %B %Y %H:%S")

    #accordion
      = render trip.rides

- content_for :javascript_at_bottom do
  = javascript_include_tag 'edit_trip'
