.column_wrapper
  .left_column#map
  .right_column
    - form_for @trip, :remote => true, :html => {:id => 'trip_form'} do |f|
      = f.hidden_field :route
      = f.hidden_field :distance
      = f.hidden_field :gmaps_duration

      = f.hidden_field :from
      = f.hidden_field :to
      = f.hidden_field :from_formatted_address
      = f.hidden_field :to_formatted_address
      .hidden= submit_tag
      #trip_info
        %p 
          .float_right#trip_distance_display.trip_km_display
          = t('.trip_details')
          (#{link_to t('.delete_trip'), trip_path(@trip), :method => :delete, :confirm => t('general.confirm')}):
          
          %br/
          = country_images(@trip)
          
          %br/
          #{t('.from')} #{@trip.from_formatted_address}
          #{t('.to')} #{@trip.to_formatted_address}
          %br/
          #{t('.hitchhiked')} #{hitchhiked_with(@trip.travelling_with)}
          %br/
          - if @trip.to_date
            Hitchhiked at #{@trip.to_date}
            %br/
          - if @trip.duration
            Duration #{@trip.duration} hours

    #accordion
      = render @trip.rides

-content_for :head do
  :css
    html #content .container{
      padding: 0 0 40px 0;
      width: auto;
    }

- content_for :javascript_at_bottom do
  = javascript_include_tag 'map'
  = javascript_include_tag 'edit_trip'
