- form_for @trip, :remote => true, :html => {:id => 'trip_form'} do |f|
  = f.text_field :route
  = f.hidden_field :from
  = f.hidden_field :to
  = submit_tag

%h1.text_center
  From "#{@trip.from_formatted_address}"
  %br/
  To "#{@trip.to_formatted_address}"

.colum_wrapper
  .left_column#map

  .right_column
    #accordion
      - @trip.rides.each  do |ride|
        %p.headline Ride #{ride.number}
        .accordion_content
          - form_for ride do |f|
            %ul.idTabs
              %li
                %a{:href => "#time_tab_#{ride.number}"}= waiting_time_image
              %li
                %a{:href => "#picture_tab_#{ride.number}"}= photo_image_button

            .tab_content{:id => "time_tab_#{ride.number}"}
              = f.label :duration
              %br/
              = f.text_field :duration, :placeholder => t('activerecord.attributes.ride.duration')
              %br/
              = f.label :waiting_time
              %br/
              = f.text_field :waiting_time, :placeholder => t('activerecord.attributes.ride.waiting_time')
            = submit_tag

- content_for :javascript_at_bottom do
  :javascript
    $(function(){
      $( "#accordion" ).accordion();
    });

  = javascript_include_tag 'map'
  = javascript_include_tag 'edit_trip'
