- title t('.edit_title')

- content_for :topmenu do
  - if trip.rides.with_photo.empty?
    #map.map_show{:style=>"width:950px"}
  - else
    #map.map_show{:style=>"width:450px"}
    .nivo-theme-default
      #slider
        - trip.rides.with_photo.each do |ride|
          = link_to image_tag(ride.photo.url(:cropped), :title => "#{ride.photo_caption}"), ride.photo.url(:large)

.row-fluid.sidebar-right
  .span9.primary-column
    = render 'trips/trip', trip: trip
    = simple_form_for trip, :remote => true, :html => {:id => 'trip_form'} do |f|
      = f.hidden_field :route
      = f.hidden_field :distance
      = f.hidden_field :gmaps_duration

      = f.hidden_field :from
      = f.hidden_field :to
      = f.hidden_field :from_formatted_address
      = f.hidden_field :to_formatted_address
      .hidden= submit_tag

      #trip_info
        %h2
          #{t('.edit_title')}
          = link_to delete_trip_image, trip_path(trip), :method => :delete, data: { confirm: t('general.confirm') }
        -# Crossed countries needs to be repaired
        %ul
          - if trip.arrival_text
            %li
              #{t('activerecord.attributes.trip.departure')}:
              = trip.arrival_text
          - if trip.departure_text
            %li
              #{t('activerecord.attributes.trip.arrival')}:
              = trip.departure_text

  %section.span3.sidebar.secondary-column#secondary-nav
    #accordion
      = render trip.rides


- content_for :javascript_at_bottom do
  = javascript_include_tag 'edit_trip'
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}  
