.column_wrapper
  .left_column#map
  .right_column
    - form_for @trip, :remote => true, :html => {:id => 'trip_form'} do |f|
      = f.hidden_field :route
      = f.hidden_field :from
      = f.hidden_field :to
      = f.hidden_field :from_formatted_address
      = f.hidden_field :to_formatted_address
      
      %ul#trip_navigation
        %li
      .hidden= submit_tag
      %h1 
        From #{@trip.from_formatted_address}
        %a{:href=>'#'} (edit)
      %h1
        To #{@trip.to_formatted_address}
        %a#edit_to{:href=>'#'} (edit)
      %h1
        Hitchhiked #{hitchhiked_with(@trip.travelling_with)}
        %a#edit_travelling_with{:href=>'#'} (edit)
      %h1
        Hitchhiked at #{@trip.to_date}
        %a#edit_date{:href=>'#'} (edit)
      %h1
        Duration #{@trip.duration}
        %a#edit_duration{:href=>'#'} (edit)

    #accordion
      = render @trip.rides

-content_for :head do
  :css
    html #content .container{
      padding: 0;
      width: auto;
    }

- content_for :javascript_at_bottom do
  = javascript_include_tag 'map'
  = javascript_include_tag 'edit_trip'
