.colum_wrapper
  .left_column#map
    %h1 HOLA!

  .right_column
    #accordion
      - @trip.rides.each  do |ride|
        %p.headline Ride #{ride.number}
        .accordion_content
          - form_for ride do |f|
            %ul.idTabs
              %li
                %a{:href => "#time_tab_#{ride.number}"}= waiting_time_image
              %li
                %a{:href => "#picture_tab_#{ride.number}"}= photo_image_button

            .tab_content{:id => "time_tab_#{ride.number}"}
              = f.label :duration
              %br/
              = f.text_field :duration, :placeholder => t('activerecord.attributes.ride.duration')
              %br/
              = f.label :waiting_time
              %br/
              = f.text_field :waiting_time, :placeholder => t('activerecord.attributes.ride.waiting_time')


- content_for :javascript_at_bottom do
  :javascript
    $(function(){
      $( "#accordion" ).accordion();
    });
    
  = javascript_include_tag 'map'
  -#= javascript_include_tag 'load_map_trips_edit'
