.column_wrapper
  .left_column#map
  .right_column
    #tripstory.hidden
      = form_for @trip do |f|
        = f.text_area :story, :rows => 4
        = submit_tag
    = form_for @trip, :remote => true, :html => {:id => 'trip_form'} do |f|
      = f.hidden_field :route
      = f.hidden_field :distance
      = f.hidden_field :gmaps_duration

      = f.hidden_field :from
      = f.hidden_field :to
      = f.hidden_field :from_formatted_address
      = f.hidden_field :to_formatted_address
      .hidden= submit_tag
      #trip_info
        .float_right#trip_distance_display.trip_km_display

        %h3
          = t('.trip_details')
          #{link_to delete_trip_image, trip_path(@trip), :method => :delete, :confirm => t('general.confirm')}:
        -# Crossed countries needs to be repaired
        -# = country_images_for_trip(@trip)
        %ul
          %li 
            #{t('.from')} #{@trip.sanitize_address("from")}
          %li
            #{t('.to')} #{@trip.sanitize_address("to")}
          %li
            = t('.hitchhiked_at', :time => @trip.to_date) if @trip.to_date
          %li
            = hitchhiking_with_image(@trip.travelling_with)
            = driving_time_image(human_hours(@trip.duration)) 
          -# %li
          -#   = t('.duration', :duration => @trip.duration) if @trip.duration
          %li
            %button#add_story= t('.add_story')

    #accordion
      = render @trip.rides

-content_for :head do
  :css
    html #content .container{
      padding: 0 0 40px 0;
      width: auto;
    }

- content_for :javascript_at_bottom do
  = javascript_include_tag 'map'
  = javascript_include_tag 'edit_trip'
