- title "Trips"

%p
  - if user_signed_in?
    = link_to t(".log_new_trip"), new_trip_path 
  - else
    = render 'shared/sign_in_and_out'
    = t('.to_log_a_new_hitchhiking_trip')
%h1
  #{t('.latest_hitchhiking_trips')}:


= render 'trips/search_interface', gender: true
= will_paginate @trips, :class => 'digg_pagination'
#trips
  = render 'list', :trips => @trips
= will_paginate @trips, :class => 'digg_pagination'

