- title t('.title')
- meta_description(t('trips.index.meta_description'))

%h1 #{t('.latest_hitchhiking_trips')}:

= render 'search_interface', q: @q

= will_paginate @trips, class:  'flickr_pagination'
= render 'list', trips: @trips, by: true
= will_paginate @trips, class:  'flickr_pagination'

