- title "Trips"

%p
  - if user_signed_in?
    = link_to t(".log_new_trip"), new_trip_path 
  - else
    = render 'shared/sign_in_and_out'
    = t('.to_log_a_new_hitchhiking_trip')
%h1
  #{t('.latest_hitchhiking_trips')}:

%p
  = t('.sort_by')
  = form_tag '', :method => 'get' do
    = select_tag "country", options_for_countries.html_safe, :prompt => t('.select_country')
    = check_box_tag 'photos', nil, params[:photos]
    %label{:for => 'photos'}= t('.photo')
    = check_box_tag 'stories', nil, params[:stories]
    %label{:for => 'stories'}= t('.story')
    %br/
    = submit_tag t('.search')

= will_paginate @trips, :class => 'digg_pagination'
#trips
  = render 'list', :trips => @trips
= will_paginate @trips, :class => 'digg_pagination'

