- title "Trips"

%h1 #{t('.latest_hitchhiking_trips')}:

- if user_signed_in?
  = link_to t(".log_new_trip"), new_trip_path 
- else
  = render 'shared/sign_in_and_out'
  = t('.to_log_a_new_hitchhiking_trip')

= form_tag '', :method => 'get' do
  = select_tag "country", options_for_countries.html_safe, :prompt => t('.select_country')
  %br/
  %label{:for => 'stories'}= t('.only_stories')
  = check_box_tag 'stories'
  %br/
  
  = submit_tag t('.search')

= will_paginate @trips, :class => 'digg_pagination'
#trips
  = render 'list', :trips => @trips
= will_paginate @trips, :class => 'digg_pagination'

