- title t('.title')
- meta_description(t('trips.index.meta_description'))

%h1 #{t('.latest_hitchhiking_trips')}:

%p= t('statistics.index.world_map_explanation')
%p= t('statistics.index.click_on_country_to_explore')

= render 'statistics/world_map_visualization'

= will_paginate @trips, class:  'flickr_pagination'
= render 'list', trips: @trips, by: true
= will_paginate @trips, class:  'flickr_pagination'

