- title t('.new_trip')

= simple_form_for(trip, html: {class: 'form-horizontal' }) do |f|
  %legend
    = t('.log_your_trip_please')
    %i#trip_distance_display

  .row-fluid
    .span6
      = f.input :from
      #suggest_from
      = f.input :to
      #suggest_to
      = f.input :hitchhikes, required: true, collection: 1..50, default: 1 if trip.new_record?

      = f.input :departure, as: :string,
                            wrapper_html: {id: 'datetimepicker_departure'},
                            wrapper: :append  do
        = f.input_field :departure, as: :string, "data-format" => "dd/MM/yyyy hh:mm"
        %span.add-on
          %i.icon-calendar

      = f.input :arrival, as: :string,
                          wrapper_html: {id: 'datetimepicker_arrival'},
                          wrapper: :append  do
        = f.input_field :arrival, as: :string, "data-format" => "dd/MM/yyyy hh:mm"
        %span.add-on
          %i.icon-calendar

      = f.input :travelling_with, collection: [[t('helper.trip.alone'), 0],
                                               [t('helper.trip.with_1'),1],
                                               [t('helper.trip.with_2'),2],
                                               [t('helper.trip.with_3'),3],
                                               [t('helper.trip.with_4'),4]],
                                    default: [t('helper.trip.alone'), 0]


      = f.hidden_field :route
      = f.hidden_field :distance
      = f.hidden_field :gmaps_duration

      = f.hidden_field :from_lat
      = f.hidden_field :from_lng
      = f.hidden_field :from_formatted_address
      = f.hidden_field :from_city
      = f.hidden_field :from_country
      = f.hidden_field :from_country_code
      = f.hidden_field :from_postal_code

      = f.hidden_field :to_lat
      = f.hidden_field :to_lng
      = f.hidden_field :to_formatted_address
      = f.hidden_field :to_city
      = f.hidden_field :to_country
      = f.hidden_field :to_country_code
      = f.hidden_field :to_postal_code

      %a#modal-btn.btn.btn-primary.btn-large{"data-toggle" => "modal", href: "#myModal", role: "button"} Save Trip
      #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Is this correct?
        .modal-body
          %table.responsive
            %tbody
              %tr
                %td From:
                %td#from 
              %tr
                %td To:
                %td#to 
              %tr
                %td Distance:
                %td#distance
              %tr
                %td No of rides::
                %td#no_of_rides
              %tr
                %td Arrival
                %td#departure
              %tr
                %td Departure
                %td#arrival
              %tr
                %td Traveling with:
                %td#traveling_with

        .modal-footer
          %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          = f.button :submit, class: 'btn btn-primary'

    .span6
      #map-canvas.map


- content_for :javascript_at_bottom do
  %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAoRZxn3x2YppDC6ZpnUjE8v9RKBRa1oWA&sensor=false&libraries=places"}
  = javascript_include_tag 'vendor/jquery.observe_field'
  = javascript_include_tag 'new_trip'

