- title t('.new_trip')

= simple_form_for(trip, html: {class: 'form-horizontal' }) do |f|
  %legend
    = t('.log_your_trip_please')
    %i#trip_distance_display

  .row-fluid
    .span6
      = f.input :from, hint: 'choose a location from the dropdown menu'
      #suggest_from
      = f.input :to
      #suggest_to
      = f.input :hitchhikes, required: true, collection: 1..50, default: 1 if trip.new_record?

      = f.input :departure, wrapper: :prepend  do
        %span.add-on.calendar
          %i.icon-calendar
        = f.input_field :departure, as: :string, default: "hellohello!"
        = f.input_field :departure_time, as: :string
        %span.add-on.time
          %i.icon-time

      = f.input :arrival, wrapper: :prepend  do
        %span.add-on.calendar
          %i.icon-calendar
        = f.input_field :arrival, as: :string, default: Time.now.strftime("%d %B, %Y")
        = f.input_field :arrival_time, as: :string
        %span.add-on.time
          %i.icon-time

      = f.input :travelling_with, collection: [[t('helper.trip.alone'), 0],
                                               [t('helper.trip.with_1'),1],
                                               [t('helper.trip.with_2'),2],
                                               [t('helper.trip.with_3'),3],
                                               [t('helper.trip.with_4'),4]],
                                    default: [t('helper.trip.alone'), 0]


      = f.hidden_field :route
      = hidden_field_tag 'trip[distance]', 0
      = hidden_field_tag 'trip[gmaps_duration]', 0

      = f.hidden_field :from_lat
      = f.hidden_field :from_lng
      = f.hidden_field :from_formatted_address
      = f.hidden_field :from_city
      = f.hidden_field :from_country
      = f.hidden_field :from_country_code
      = f.hidden_field :from_postal_code

      = f.hidden_field :to_lat
      = f.hidden_field :to_lng
      = f.hidden_field :to_formatted_address
      = f.hidden_field :to_city
      = f.hidden_field :to_country
      = f.hidden_field :to_country_code
      = f.hidden_field :to_postal_code

      = f.button :submit, class: 'btn btn-primary btn-large'

    .span6
      #map-canvas.map


- content_for :javascript_at_bottom do
  %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAoRZxn3x2YppDC6ZpnUjE8v9RKBRa1oWA&sensor=false&libraries=places"}
  = javascript_include_tag 'vendor/jquery.observe_field'
  = javascript_include_tag 'new_trip'

