- title t('.new_trip')

= simple_form_for(trip, html: {class: 'form-horizontal' }) do |f|

  %legend
    = t('.log_your_trip_please')

  .row-fluid
    .span6
      = f.input :from
      = f.input :to

      = f.input :hitchhikes, required: true, collection: 1..50, default: 1 if trip.new_record?

      = f.input :travelling_with, collection: [[t('helper.trip.alone'), 0],
                                               [t('helper.trip.with_1'),1],
                                               [t('helper.trip.with_2'),2],
                                               [t('helper.trip.with_3'),3],
                                               [t('helper.trip.with_4'),4]],
                                    default: [t('helper.trip.alone'), 0]

      = f.input :departure, wrapper: :prepend  do
        %span.add-on.calendar
          %i.fa.fa-calendar
        = f.input_field :departure, as: :string
        = f.input_field :departure_time, as: :string

      = f.input :arrival,
                hint: distance_of_time_helper,
                wrapper: :prepend  do
        %span.add-on.calendar
          %i.fa.fa-calendar
        = f.input_field :arrival, as: :string
        = f.input_field :arrival_time, as: :string


      = f.hidden_field :route
      = hidden_field_tag 'trip[distance]', 0
      = hidden_field_tag 'trip[gmaps_duration]', 0

      = f.input :from_lat, as: :hidden
      = f.input :from_lng, as: :hidden
      = f.input :from_formatted_address, as: :hidden
      = f.input :from_city, as: :hidden
      = f.input :from_country, as: :hidden
      = f.input :from_country_code, as: :hidden
      = f.input :from_postal_code, as: :hidden

      = f.input :to_lat, as: :hidden
      = f.input :to_lng, as: :hidden
      = f.input :to_formatted_address, as: :hidden
      = f.input :to_city, as: :hidden
      = f.input :to_country, as: :hidden
      = f.input :to_country_code, as: :hidden
      = f.input :to_postal_code, as: :hidden

      = f.button :submit, class: 'btn btn-primary btn-large'

    .span6
      #map.map


- content_for :javascript_at_bottom do
  %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAoRZxn3x2YppDC6ZpnUjE8v9RKBRa1oWA&sensor=false&libraries=places"}
  = javascript_include_tag 'vendor/jquery.observe_field'
  = javascript_include_tag 'new_map'
  = javascript_include_tag 'new_trip'

