- title(t('.title', :from_city => @trip.from_city_sanitized, :to_city => @trip.to_city_sanitized))

#trips_show
  .left_column
    = render 'trips/show_left_column', :trip => @trip
  .right_column
    = render 'users/right_column'

- content_for :topmenu do
  - if @photos.empty?
    #map.map_show{:style=>"width:950px"}
  - else
    #map.map_show{:style=>"width:450px"}
    #hitchhike-photo= image_tag @photos.first.url(:cropped), :id => 'hitchhike-photo-photo'

-content_for :javascript_at_bottom do
  = javascript_include_tag "map"
  = javascript_include_tag "show_trip"

- content_for :head do
  :css
    body #content .container {padding-top: 0; padding-bottom: 40px;}
