- title(t('.title', :from_city => @trip.from_city_sanitized, :to_city => @trip.to_city_sanitized))

#trips_show
  .left_column
    = hidden_field_tag :trip_from,  @trip.to_formatted_address 
    = hidden_field_tag :trip_to,    @trip.from_formatted_address
    = hidden_field_tag :trip_route, @trip.route

    - unless @trip.to_date.blank?
      #trip_date
        = @trip.start.strftime("%d")
        %br/
        = @trip.start.strftime("%B")
        %br/
        = @trip.start.strftime("%Y")

    %h1.text_center
      = @trip.to_s
      = link_to t('.edit_trip'), edit_trip_path(@trip) if @trip.user == current_user

    .images_for_trip
      = hitchability(@trip)
      = hitchhiking_with_image(@trip.travelling_with)
      = gmaps_duration_image(@trip)
      = trip_duration_image(@trip)
      = ride_image(@trip.rides.size)
      = country_images_for_trip(@trip)

    .display_rides
      %table#rides_list
        - @trip.rides.not_empty.each do |ride|
          %tr{ :id => "ride_#{ride.number}" }
            %td
              %b
                = t('.ride')
                #{ride.number}/#{ride.trip.rides.size}
            %td
              = images_for_ride(ride)
              = experience_image(ride.experience)

    - @trip.rides.select {|ride| not ride.story.blank?}.each do |ride|
      %h2
        = ride.title if ride.title
        %span.subtitle
          (#{t('.ride')} #{ride.number})
          = experience_image(ride.experience)

      - unless ride.story.blank?
        .trip_story
          = RDiscount.new(ride.story).to_html.html_safe

    #disqus_thread

  .right_column
    = render 'users/right_column'

- content_for :topmenu do
  - if @photos.empty?
    #map.map_show{:style=>"width:950px"}
  - else
    #map.map_show{:style=>"width:450px"}
    #hitchhike-photo= image_tag @photos.first.url(:cropped), :id => 'hitchhike-photo-photo'

-content_for :javascript_at_bottom do
  = javascript_include_tag "map"
  = javascript_include_tag "show_trip"

- content_for :head do
  :css
    body #content .container {padding-top: 0; padding-bottom: 40px;}

:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'hitchlog'; // required: replace example with your forum shortname
  if (document.URL.search(/hitchlog.com/ == -1)) var disqus_developer = 1;

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

