- title "#{@trip.from} &rarr; #{@trip.to}".html_safe

%h1.text_center
  = @trip
  = link_to '(Edit Trip)', edit_trip_path(@trip) if @trip.user == current_user
%ul.hitchhike
  = render 'list_hitchhikes', :trip => @trip  
