= simple_form_for future_trip, html: {class: 'form-horizontal'} do |f|

  = f.input :from
  = f.input :from_lat, as: :hidden
  = f.input :from_lng, as: :hidden
  = f.input :from_country, as: :hidden
  = f.input :from_country_code, as: :hidden
  = f.input :from_city, as: :hidden
  = f.input :to
  = f.input :to_lat, as: :hidden
  = f.input :to_lng, as: :hidden
  = f.input :to_country, as: :hidden
  = f.input :to_country_code, as: :hidden
  = f.input :to_city, as: :hidden
  = f.input :departure, as: :date,
                        start_year: Date.today.year + 2,
                        end_year: Date.today.year,
                        order: [:day, :month, :year]
  = f.input :description, as: :text, input_html: { rows: 5 }, label: t('.description_label')

  = f.submit class: 'btn btn-primary'
