= simple_form_for future_trip do |f|
  = f.input :from
  = f.input :from_lat, as: :hidden
  = f.input :from_lng, as: :hidden
  = f.input :from_country, as: :hidden
  = f.input :from_country_code, as: :hidden
  = f.input :from_city, as: :hidden
  = f.input :to
  = f.input :to_lat, as: :hidden
  = f.input :to_lng, as: :hidden
  = f.input :to_country, as: :hidden
  = f.input :to_country_code, as: :hidden
  = f.input :to_city, as: :hidden
  = f.input :departure, as: :date,
                        start_year: Date.today.year + 2,
                        end_year: Date.today.year,
                        order: [:day, :month, :year]
  = f.input :description, as: :text, input_html: { rows: 5 }, label: t('.description_label')

  = f.submit

- content_for :javascript_at_bottom do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false", :type => "text/javascript"}
  = javascript_include_tag 'future_trips'
