= will_paginate future_trips, class: 'flickr_pagination'

%table.responsive.future_trips
  %thead
    %tr
      %th
      - unless controller.controller_name == 'users' and controller.action_name == 'show'
        %th= t('.by')
      %th= t('.country')
      %th= t('.departure')
  %tbody
    - future_trips.each do |future_trip|
      %tr{:id => "future_trip_#{future_trip.id}"}
        %td.title.neutralize_fonts
          %b= future_trip.to_s
          - if future_trip.user != current_user
            = link_to t('.send_a_message'), send_mail_user_path(future_trip.user)
          - else
            = link_to t('general.edit'), edit_future_trip_path(future_trip)
            |
            = link_to t('general.delete'), future_trip_path(future_trip), method: :delete, data: {confirm: t('general.confirm')}

          - unless future_trip.description.blank?
            %p= future_trip.description

        - unless controller.controller_name == 'users' and controller.action_name == 'show'
          %td.by
            = render 'users/profile_image', user: future_trip.user
            = user_with_gender(future_trip.user)
        %td.country= flag(future_trip.from_country_code)
        %td.departure= future_trip.departure.strftime("%d %b %Y")

= will_paginate future_trips, class: 'flickr_pagination'
