- title t('.title')

%h3.short_headline
  %span
    = succeed '?' do
      = t('.looking_for_a_hitchhiking_buddy')

.row-fluid
  .span12
    %p
      = t('.your_thumb_is_itching')
      %br/
      = link_to t('.post_it_on_the_board'), new_future_trip_path
      = t('.and_find_hh_buddy')

    - if future_trips.any?
      %h3.short_headline
        %span= t('.hitchhikers_searching_for_buddies')
      = render 'future_trips', future_trips: future_trips
