- title t('.title')

%h3.short_headline
  %span
    = succeed '?' do
      = t('.looking_for_a_hitchhiking_buddy')

.row-fluid
  .span6
    %p
      Your thumb is itching but you don't know who to start your next
      hitchhiking adventure with?
      %br/
      = link_to 'Post it on the board', new_future_trip_path
      and find your next hitchhiking buddy

    - if future_trips.any?
      %h3.short_headline
        %span= t('.hitchhikers_searching_for_buddies')
      = render 'future_trips', future_trips: future_trips
