%legend
  = t('future_trips.new.tell_others_about_your_plans')
.row-fluid
  .span6
    = render 'form', future_trip: future_trip
  .span6
    #map.map

- content_for :javascript_at_bottom do
  = javascript_include_tag 'vendor/jquery.observe_field'
  = javascript_include_tag 'custom/new_map'
  = javascript_include_tag 'custom/future_trips'
  %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?v=3.exp&key=#{ENV['GOOGLE_MAPS']}&callback=initMap&libraries=places"}
