- title t('registrations.new.sign_up')

.register-box.clearfix
  %h2.short_headline
    %span= t('registrations.new.create_a_hitchlog_account')

  .row-fluid
    .span4
      = link_to t('general.sign_up_with_facebook'), user_facebook_omniauth_authorize_path,
        class: 'btn btn-primary btn-large'
    .span1
      %h4= t('general.or')
    .span7

      %h4= t('registrations.new.use_the_normal_form')
      = simple_form_for resource do |f|
        = f.input :username
        = f.input :email, placeholder: 'user@domain.com'
        = f.input :password, placeholder: 'Password'
        = f.input :password_confirmation, placeholder: 'Password confirmation'
        = f.input :gender, collection: ['male', 'female'], include_blank: false
        = f.input :date_of_birth, as: :date, start_year: Date.today.year - 10,
                                  end_year: Date.today.year - 90, order: [:day, :month, :year], required: true

        = f.button :submit, t('registrations.new.sign_up'), class: 'btn btn-large btn-primary'

      <b>Help:</b>
      If you lost your password, you can
      = link_to 'retrieve your password', new_password_path(resource_name)

