- title t('.sign_up')

- content_for :topmenu do
  %h1
    =t('.sign_up')

%table#sign_up
  %tr
    %td
      = facebook_authentication
      %br/
      = render :partial => 'shared/facepile'

    %td
      =t('.or')
    %td
      %h2= t('.create_a_hitchlog_account')
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'fancy_form'}) do |f|
        = devise_error_messages!
        .text_field.username
          = f.label :username
          %br
          = f.text_field :username
        .text_field.email
          = f.label :email
          %br
          = f.text_field :email
        .text_field.password
          = f.label :password
          %br
          = f.password_field :password
        .text_field.email
          = f.label :password_confirmation
          %br
          = f.password_field :password_confirmation
        .text_field.gender
          = f.label :gender
          %br
          = f.select :gender, [t('activerecord.models.male'), t('activerecord.models.female')]
        %p= f.submit "Sign up"

.help
  <b>Help:</b>
  If you lost your password, you can
  =link_to 'retrieve your password', new_password_path(resource_name)

