-title 'Sign Up'

.yellow_box.sign_in_box
  %h3
    Sign Up For
    %br/
    <b>Hitchlog</b>
    
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .text_field.username
      = f.label :username
      = f.text_field :username
    .text_field.email
      = f.label :email
      = f.text_field :email
    .text_field.password
      = f.label :password
      = f.password_field :password
    .text_field.email
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %p= f.submit "Sign up"

  -#= render :partial => "devise/shared/links"

.help
  <b>Help:</b>
  If you lost your password, you can
  =link_to 'retrieve your password', new_password_path(resource_name)

