- title t('.title')
- meta_description(t('.meta_description'))

%h1= t('.statistics')

%p= t('.click_on_country_to_explore')

.statistics
  = render "world_map_visualization"

%hr/

.row-fluid
  .span12
    %h3.short_headline
      %span=t('.top_10_hitchhikers')
    = content_tag(:div, '', id: 'top_10_hitchhikers', data: {hitchhikers: top_10_hitchhikers})

%hr/
.row-fluid
  .span12
    %h3.short_headline
      %span=t('.age_for_trips', average_age: average_age_of_hitchhikers)
    = content_tag(:div, '', id: 'age_for_trips', data: {ages: age_for_trips})

%hr/

.row-fluid
  .span6
    %h3.short_headline
      %span=t('.waiting_time')
    = content_tag(:div, '', id: 'waiting_time_donut', data: {waiting_time: waiting_time_data })
  .span6
    %h3.short_headline
      %span= t('.gender_of_hitchhikers')
    = content_tag(:div, '', id: 'gender_donut', class: 'piechart',
      data: {hitchhikers_by_gender: hitchhikers_by_gender})

%hr/

.row-fluid
  .span4
    %h3.short_headline
      %span= t('.experiences')
    = content_tag(:div, '', id: 'experiences_donut', class: 'piechart',
      data: {experiences: experiences_data })
  .span4
    %h3.short_headline
      %span=t('.company_while_hitchhiking')
    = content_tag(:div, '', id: 'company_donut', class: 'piechart',
      data: {company_for_trips: company_for_trips })
  .span4
    %h3.short_headline
      %span= t('.vehicles')
    = content_tag(:div, '', id: 'vehicles_donut', data: {vehicles: vehicles_data })

- content_for :javascript_at_bottom do
  = javascript_include_tag 'custom/morris_statistics'
  = javascript_include_tag 'vendor/jquery-jvectormap-1.2.2.min'
  = javascript_include_tag 'vendor/jquery-jvectormap-world-mill-en'
  = javascript_include_tag 'custom/jvectormap_statistics'
  
