- content_for :head do
  :javascript
    google.setOnLoadCallback(drawExperiences);

    function drawExperiences() {
      var wrapper = new google.visualization.ChartWrapper({
        chartType: 'ColumnChart',
        dataTable: [['', 'Very Good', 'Good', 'Neutral', 'Bad', 'Very Bad'],
                    ['', #{user.very_good_experiences}, #{user.good_experiences}, #{user.neutral_experiences}, #{user.bad_experiences}, #{user.very_bad_experiences}]],
        options: {'title': 'Experiences'},
        containerId: 'experiences_chart'
      });
      wrapper.draw();
    }


        ['Very good',   #{user.very_good_experiences}],
        ['Neutral',     #{user.neutral_experiences}],
        ['bad',         #{user.bad_experiences}],
        ['Very bad',    #{user.very_bad_experiences}]

#experiences_chart

