- content_for :head do
  :javascript
    google.setOnLoadCallback(drawExperiences);

    function drawExperiences() {
      var wrapper = new google.visualization.ChartWrapper({
        chartType: 'ColumnChart',
        dataTable: [['', 'Very positive', 'Positive', 'Neutral', 'Negative', 'Very Negative'],
                    ['', #{user.very_positive_experiences}, #{user.positive_experiences}, #{user.neutral_experiences}, #{user.negative_experiences}, #{user.very_negative_experiences}]],
        options: {'title': 'Experiences'},
        containerId: 'experiences_chart'
      });
      wrapper.draw();
    }


        ['Very positive',    #{user.very_positive_experiences}],
        ['Neutral',          #{user.neutral_experiences}],
        ['Negative',         #{user.negative_experiences}],
        ['Very negative',    #{user.very_negative_experiences}]

#experiences_chart
