- if user.trips.any?
  %section#world-map{:style => "width: 100%; height: 200px;"}

  - content_for :javascript_at_bottom do
    = javascript_include_tag 'jquery-mousewheel'
    = javascript_include_tag 'vendor/jquery-jvectormap-1.2.2.min'
    = javascript_include_tag 'vendor/jquery-jvectormap-world-mill-en'
    :javascript
      var username = "#{user.username}"
    = javascript_include_tag 'custom/geomap'

