%h1
  = @user
  - if @user == current_user
    (#{link_to t('.edit_profile'), edit_user_path(@user)})
  = gender_image @user.gender
- if user_signed_in? and current_user == @user
  - if @user.trips.empty?
    %p= link_to t('.log_your_first_trip'), new_trip_path
  - else
    %p= link_to t('.log_new_trip'), new_trip_path

- if not @user.about_you.blank?
  %h2 #{t('.about')} #{@user}:
  %p= @user.about_you


#trips
  = render 'trips/list', :trips => @trips unless @trips.empty?
