%aside
  %h5.short_headline
    %span
      = link_to user, user_path(user)
      - if user.age
        %i.tip{title: t('general.user_age', age: user.age)}
          = "(#{user.age})"
      &nbsp;
      = hitchhiker_gender user.gender

  = render 'users/profile_image', user: user, type: "normal"

%aside
  - if user.location.present?
    = flag_with_country_name(user)
  %p
    - unless user.cs_user.blank?
      = image_tag 'cs.ico'
      #{t('.cs_user')}: #{link_to(user.cs_user.capitalize, "http://couchsurfing.com/people/#{user.cs_user}")}
      %br/
    - if user.be_welcome_user.present?
      #{t('.be_welcome_user')}: #{link_to(user.be_welcome_user.capitalize, "http://www.bewelcome.org/members/#{user.be_welcome_user}")}
      %br/
    - if user.trustroots.present?
      = image_tag 'trustroots.png'
      Trustroots: 
      = link_to(user.trustroots.capitalize, "https://www.trustroots.org/profile/#{user.trustroots}")
      %br/
    - if user != current_user
      %i.fa.fa-envelope
      = link_to t('.send_mail'), send_mail_user_path(user)
      %br/
    %span.tip{title: t('general.member_since', time: user.created_at.strftime("%B %d, %Y"))}
      %i.fa.fa-user
      = user.created_at.strftime("%B %d, %Y")
      %br/
    - if user.languages.present?
      %span.tip{title: t('general.languages')}
        %i.fa.fa-flag
        = user.languages
      %br/

    - if user.origin.present?
      %span.tip{title: t('general.country_of_origin')}
        = succeed ':' do
          = t('general.hometown')
        = user.origin

  - if user.trips.any?
    = succeed ':' do
      = t('.hitchhiked_countries')

    %br/

    = country_images_for_user(user)

    %ul.inline-list
      %li
        %span.tip{title: pluralize(user.trips.size, t('general.trip'))}
          = user.trips.size
          %i.fa.fa-road
      %li
        %span.tip{title: pluralize(user.rides.size, t('general.ride'))}
          = user.rides.size
          %i.fa.fa-thumbs-up
      %li
        %span.tip{title: "#{number_with_delimiter(user.hitchhiked_kms)} #{t('general.hitchhiked_kms')}"}
          #{number_with_delimiter(user.hitchhiked_kms, delimiter: ",")}
          %i.fa.fa-dashboard
      %li
        %span.tip{title: pluralize(user.stories.size, t('general.story'))}
          #{user.stories.size}
          %i.fa.fa-book

    %ul.inline-list
      %li.tip{title: pluralize(user.comments.size, t('general.comment'))}
        = user.comments.size
        %i.fa.fa-comment-o
      - if user.average_waiting_time
        %li.tip{title: "#{t('.waiting_time_per_ride')}: #{user.average_waiting_time} #{t('general.minutes')}"}
          = "#{user.average_waiting_time} min"
          %i.fa.fa-clock-o
      - if user.number_of_photos != 0
        %li.tip{title: pluralize(user.number_of_photos, t('general.photo'))}
          = user.number_of_photos
          %i.fa.fa-camera
      %li.tip{title: t('general.overall_average_speed', speed: user.average_speed )}
        = user.average_speed
        %i.fa.fa-dashboard

%aside
  = render 'users/tag_cloud', user: user

