- type ||= "normal"

- if user.facebook_user?
  = link_to user_path(user) do
    = image_tag "https://graph.facebook.com/#{user.uid}/picture?type=#{type}", class: 'profile_pic'
- else
  = image_tag gravatar_url(user, size: type), class: 'profile_pic'
