%h1.text_center
  = link_to @user, user_path(@user)
  = gender_image @user.gender
.text_center=gravatar_image_tag @user.email

- if user_signed_in? and current_user == @user and current_user.nearbys.any?
  .section
    = render 'shared/nearby_hitchhikers'

.section
  %h3 #{image_tag('icons/chart_pie.png')} #{t('.statistics')}
  %ul
    %li
      #{t('.kms_hitchhiked')}:
      #{number_with_delimiter(@user.hitchhiked_kms, :delimiter => ".")} km
    %li
      #{t('.hitchhiked_countries')}: #{@user.hitchhiked_countries}
    %li
      #{t('.cars_seen_from_inside')}: #{@rides.size}
    - if @user.average_waiting_time
      %li
        = "#{t('.waiting_time_per_ride')}: #{@user.average_waiting_time} minutes".html_safe
    - if @user.cs_user
      %li
        #{t('.cs_user')}: #{link_to(@user.cs_user.capitalize, "http://couchsurfing.com/people/flov")}
    %li
      #{t('.written_stories')}: #{@user.stories.size}
    %li
      #{t('.uploaded_photos')}: #{@user.number_of_photos}

    = render 'shared/country_chart', :user => @user, :resolution => '200x100', :size => 'tiny'
