%h1.text_center
  = link_to user, user_path(user)
  = gender_image user.gender
.text_center
  = render 'users/profile_image', user: user, type: "large"

.section
  %ul
    - unless user.cs_user.blank?
      %li
        = image_tag 'cs.ico'
        #{t('.cs_user')}: #{link_to(user.cs_user.capitalize, "http://couchsurfing.com/people/#{user.cs_user}")}
    - unless current_user == user
      %li
        =link_to "#{image_tag('icons/email.png')} #{t('.send_mail')}".html_safe, send_mail_user_path(user)

.section
  %h3 #{image_tag('icons/chart_pie.png')} #{t('.statistics')}
  %ul
    %li
      #{t('.hitchhiked_countries')}: 
      %br/
      #{country_images_for_user(user)}
    %li
      #{t('.written_stories')}: #{user.stories.size}
    - if user.city.present?
      %li
        = t('.located_in')
        = flag(user.country_code)
        = user.city
        = updated_location_at(user)

    %li
      #{t('.uploaded_photos')}: #{user.number_of_photos}
    %li
      #{t('.kms_hitchhiked')}:
      #{number_with_delimiter(user.hitchhiked_kms, :delimiter => ".")} km
    %li
      #{t('.cars_seen_from_inside')}: #{user.rides.size}
    - if user.average_waiting_time
      %li
        = "#{t('.waiting_time_per_ride')}: #{user.average_waiting_time} minutes".html_safe


    = render 'shared/country_chart', user: user, size: 'tiny'

