- if user.trips.any?
  .statistic-showoff
    %ul
      %li.tip{title: pluralize(user.trips.size, t('general.trip'))}
        = user.trips.size
        %i.icon-road
      %li.tip{title: pluralize(user.rides.size, t('general.ride'))}
        = user.rides.size
        %i.icon-thumbs-up
      %li.tip{title: "#{number_with_delimiter(user.hitchhiked_kms)} #{t('general.hitchhiked_kms')}"}
        #{number_with_delimiter(user.hitchhiked_kms, delimiter: ",")} kms

      - if user.average_waiting_time
        %li.tip{title: "#{t('users.profile.waiting_time_per_ride')}: #{user.average_waiting_time} #{t('general.minutes')}"}
          = "#{user.average_waiting_time} min"
          %i.icon-time

  = render 'geomap', user: user
  .row-fluid
    .span6
      = render 'users/traveling_with_chart', user: user
    .span6
      %h3
        %span.tip{title: pluralize(user.trips.size, t('general.trip'))}
          = user.trips.size
          %i.icon-road
      %p
        Total distance:
        = number_with_delimiter(user.hitchhiked_kms)
        kms
        %br/
        Average distance of hitchhiked trip:
        = (user.trips.average(:distance) / 1000).to_i
        kms

      %h3
        %span.tip{title: pluralize(user.rides.size, t('general.ride'))}
          = user.rides.size
          %i.icon-thumbs-up

      %ul
        %li{class: "very positive"}
          = "#{user.very_positive_experiences} very positive experiences" unless user.very_positive_experiences == 0
        %li{class: "positive"}
          = "#{user.positive_experiences} positive experiences" unless user.positive_experiences == 0
        %li{class: "neutral"}
          = "#{user.neutral_experiences} neutral experiences" unless user.neutral_experiences == 0
        %li{class: "negative"}
          = "#{user.negative_experiences} negative experiences" unless user.negative_experiences == 0
        %li{class: "very negative"}
          = "#{user.very_negative_experiences} very negative experiences" unless user.very_negative_experiences == 0

      %p
        Average waiting time per ride:
        = user.average_waiting_time
        min

      - if user.vehicles.any?
        %h4 Type of rides:
        %ul
          - user.vehicles.each do |vehicle, number|
            %li
              = pluralize(number, t('general.ride'))
              with a #{vehicle}
