- if user.trips.any?
  .row-fluid
    .span12
      %h5
        != t('.stats_in_words_1', user: h(user),
                                  trips: user.trips.size,
                                  rides: user.rides.size)
        != t('.stats_in_words_2', kms: number_with_delimiter(user.hitchhiked_kms))
        != t('.stats_in_words_3', waiting_time: user.average_waiting_time ) if user.average_waiting_time
  .row-fluid
    .span12
      = render 'geomap', user: user
  .row-fluid
    .span6
      = render 'users/traveling_with_chart', user: user
    .span6
      = render 'users/experiences_chart', user: user
