- if user.trips.any?
  .statistic-showoff
    %ul
      %li.tip{title: pluralize(user.trips.size, t('general.trip'))}
        = user.trips.size
        %i.fa.fa-road
      %li.tip{title: pluralize(user.rides.size, t('general.ride'))}
        = user.rides.size
        %i.fa.fa-thumbs-up
      %li.tip{title: "#{number_with_delimiter(user.hitchhiked_kms)} #{t('general.hitchhiked_kms')}"}
        #{number_with_delimiter(user.hitchhiked_kms, delimiter: ",")} kms
        %i.fa.fa-dashboard

      - if user.average_waiting_time
        %li.tip{title: "#{t('users.profile.waiting_time_per_ride')}: #{user.average_waiting_time} #{t('general.minutes')}"}
          = "#{user.average_waiting_time} min"
          %i.fa.fa-time

  = render 'geomap', user: user

  .row-fluid
    .span6
      = render 'users/traveling_with_chart', user: user
    .span6
      %h3
        %span.tip{title: pluralize(user.trips.size, t('general.trip'))}
          = user.trips.size
          %i.fa.fa-road
      %p
        Total distance:
        = number_with_delimiter(user.hitchhiked_kms)
        kms
        %br/
        Average distance of hitchhiked trip:
        = (user.trips.average(:distance) / 1000).to_i
        kms

      %h3
        %span.tip{title: pluralize(user.rides.size, t('general.ride'))}
          = user.rides.size
          %i.fa.fa-thumbs-up

      %ul
        %li{class: "very good"}
          = "#{user.very_good_experiences} very good experiences" unless user.very_good_experiences == 0
        %li{class: "good"}
          = "#{user.good_experiences} good experiences" unless user.good_experiences == 0
        %li{class: "neutral"}
          = "#{user.neutral_experiences} neutral experiences" unless user.neutral_experiences == 0
        %li{class: "bad"}
          = "#{user.bad_experiences} bad experiences" unless user.bad_experiences == 0
        %li{class: "very bad"}
          = "#{user.very_bad_experiences} very bad experiences" unless user.very_bad_experiences == 0

      - if user.vehicles.any?
        %h4 Type of rides:
        %ul
          - user.vehicles.each do |vehicle, number|
            %li
              = pluralize(number, t('general.ride'))
              with a #{vehicle}

  .row-fluid
    .span12
      = render 'users/trips_by_age_chart', user: user
