.box.hh_box.user{:id => "user_#{user.id}"}
  .float_left
    =link_to user, user_path(user)
    =t('.logged_trips', :trips_size => user.trips.size)
    %br/
    #{t('.kilometers_hitchhiked')}:
    %b= number_with_delimiter user.hitchhiked_kms
    %br/
    #{t('.hitchhiked_countries')}:
    %b= user.hitchhiked_countries
    #{t('.gender')}:
    #{gender_image(user.gender)}
    %br/
    = flag_with_country_name(user)
    %br/
    #{t(".cars_seen_from_inside_while_hitchhiking")}:
    = user.hitchhiked_cars

  .float_right
    = render 'users/profile_image', user: user, type: 'small'
