.box.user
  .float_left
    =link_to user, user_path(user)
    =t('.logged_trips', :trips_size => user.trips.size)
    %br/
    #{t('.kilometers_hitchhiked')}:
    %b= number_with_delimiter user.hitchhiked_kms
    %br/
    #{t('.hitchhiked_countries')}:
    %b= user.hitchhiked_countries
    %br/
    #{t('.gender')}:
    #{gender_image(user.gender)},
    #{t('.last_sign_in')}:
    = user.last_sign_in_at.strftime("%d %B %Y")
    %br/
    #{t(".cars_seen_from_inside_while_hitchhiking")}:
    = user.hitchhiked_cars

  .float_right
    = link_to gravatar_image_tag(user.email), user_path(user)
