%h1 #{t('.hitchhikers')}:

= search_form_for @search do |f|
  = f.label :username_cont, t('.username')
  = f.text_field :username_cont
  = f.submit t('.search')

%p
  #{t('.sort_by')}:
  = sort_link @search, :username

= will_paginate @users, :class => 'digg_pagination'
= render @users
= will_paginate @users, :class => 'digg_pagination'
