%h1 #{t('.hitchhikers')}:

= will_paginate users, class: 'flickr_pagination'

%table.users
  %thead
    %tr
      %th= t('.username')
      %th= t('.logged_trips')
      %th= t('.hitchhiked_kms')
      %th= t('.hitchhiked_countries')
      %th= t('.location')
      %th= t('.no_of_rides')

  %tbody
    - users.each do |user|
      %tr{:id => "user_#{user.id}"}
        %td
          = render 'users/profile_image', type: 'square', user: user
          = link_to user, user_path(user)
          = gender_image(user.gender)
          -#= render 'users/profile_image', user: user, type: 'small'
        %td
          = user.trips.size
        %td
          %b= number_with_delimiter user.hitchhiked_kms
        %td
          = user.hitchhiked_countries
        %td
          = flag_with_country_name(user)
        %td
          = user.no_of_rides

= will_paginate users, class: 'flickr_pagination'
