- title t('.title')

%h1
  #{@users.count} #{t('.hitchhiker')}:

= search_form_for @search do |f|
  %h4= t('.search_by')
  %table
    %tr
      %td= f.label :location_cont, t('.location')
      %td= f.label :username_cont, t('.username')
    %tr
      %td= f.text_field :location_cont, placeholder: t('trips.search_interface.from_placeholder')
      %td= f.text_field :username_cont

  = f.submit t('general.search'), class: 'btn btn-primary user-search'

= will_paginate @users, class: 'flickr_pagination'

%table.users.responsive
  %thead
    %tr
      %th= sort_link @search, :username, t('.username')
      %th= t('.logged_trips')
      %th= t('general.hitchhiked_kms')
      %th
        %i.fa.fa-star
      %th= sort_link @search, :country, t('.location')
      %th= t('.member_since')

  %tbody
    - @users.each do |user|
      %tr{:id => "user_#{user.id}"}
        %td
          = render 'users/profile_image', type: 'square', user: user
          = link_to user, user_path(user)
          = hitchhiker_gender(user.gender)
        %td
          = user.trips.size
        %td
          %b
            = number_with_delimiter user.trips.sum(:distance) / 1000
            kms
        %td
          %span.tip{title: pluralize(user.trips.size, t('general.trip'))}
            %i.fa.fa-road
            = user.trips.size
          &nbsp;&nbsp;
          %span.tip{title: pluralize(user.rides.size, t('general.ride'))}
            %i.fa.fa-thumbs-up
            = user.rides.size
        %td
          = flag_with_country_name(user)
        %td
          = user.created_at.strftime("%d %b %Y")

= will_paginate @users, class: 'flickr_pagination'
