- title user

-#= render 'alternative'

.row-fluid.sidebar-right.reverse-order
  %section.span3.sidebar.secondary-column#secondary-nav
    = render 'users/profile_picture_section', user: user
  .span9.primary-column
    %h3.short_headline
      %span
        = user
        - if user == current_user
          = link_to t('.edit'), edit_user_path(user), class: 'btn btn-info'


    - if current_user == user
      - if user.trips.empty?
        %p= link_to t('.log_your_first_trip'), new_trip_path
      - else
        %p= link_to t('.log_new_trip'), new_trip_path

    - if user.location.present?
      %p
        = t('.current_location')
        = flag_with_country_name(user)
    - if user.trips.any?
      %p= country_images_for_user(user)

    = render 'trips_and_rides', user: user

    = render 'about_you', user: user

    = render 'future_trips', future_trips: user.future_trips


    - if @trips.any?
      = will_paginate @trips, class: 'flickr_pagination'
      -#= render 'trips/search_interface'
      #trips
        = render 'trips/list', trips: user.trips.paginate(page: params[:page], per_page: 5)
      = will_paginate @trips, class: 'flickr_pagination'

