- title user

-#= render 'alternative'

.row-fluid.sidebar-right
  .span9.primary-column
    %h3.short_headline
      %span
        = user
        - if user == current_user
          (#{link_to t('.edit'), edit_user_path(user)})

    = country_images_for_user(user)

    - if current_user == user
      - if user.trips.empty?
        %p= link_to t('.log_your_first_trip'), new_trip_path
      - else
        %p= link_to t('.log_new_trip'), new_trip_path

    - if user.location.present?
      %p
        = t('.current_location')
        = flag_with_country_name(user)

    = render 'about_you', user: user

    = render 'future_trips', future_trips: user.future_trips

    = render 'trips_and_rides', user: user

    - if trips.any?
      = will_paginate trips, :class => 'flickr_pagination'
      -#= render 'trips/search_interface'
      #trips
        = render 'trips/list', :trips => user.trips
      = will_paginate trips, :class => 'flickr_pagination'

  %section.span3.sidebar.secondary-column#secondary-nav
    %aside
      %h3.short_headline
        %span
          = gender_image user.gender
          = link_to user, user_path(user)

      = render 'users/profile_image', user: user, type: "normal"

    - if user.city.present?
      %aside.location
        = t('users.right_column.located_in')
        = flag_with_country_name(user)

    - unless user.cs_user.blank? and current_user == user
      %aside
        %ul
          - unless user.cs_user.blank?
            %li
              = image_tag 'cs.ico'
              #{t('.cs_user')}: #{link_to(user.cs_user.capitalize, "http://couchsurfing.com/people/#{user.cs_user}")}
          - unless current_user == user
            %li
              =link_to "#{image_tag('icons/email.png')} #{t('.send_mail')}".html_safe, send_mail_user_path(user)


    - if user.trips.any?
      %aside
        %h3 #{image_tag('icons/chart_pie.png')} #{t('.statistics')}
        %ul
          %li
            #{t('.hitchhiked_countries')}: 
            %br/
            #{country_images_for_user(user)}
          %li
            #{t('.written_stories')}: #{user.stories.size}

          %li
            #{t('.uploaded_photos')}: #{user.number_of_photos}
          %li
            #{t('.kms_hitchhiked')}:
            #{number_with_delimiter(user.hitchhiked_kms, :delimiter => ".")} km
          %li
            #{t('.cars_seen_from_inside')}: #{user.rides.size}
          - if user.average_waiting_time
            %li
              = "#{t('.waiting_time_per_ride')}: #{user.average_waiting_time} minutes".html_safe

        = render 'shared/country_chart', user: user, size: 'tiny'

