- title user

#users_show.columns
  .left_column
    %h1.text_center
      = user
      - if user == current_user
        (#{link_to t('.edit'), edit_user_path(user)})

    .profile_section.text_center
      = country_images_for_user(user)

    - if user_signed_in? and current_user == user
      .profile_section
        - if user.trips.empty?
          %p= link_to t('.log_your_first_trip'), new_trip_path
        - else
          %p= link_to t('.log_new_trip'), new_trip_path

    - if user.location.present?
      %p
        = t('.current_location', location: user.location)
        = updated_location_at(user)

    = render 'future_trips', user: user

    = render 'about_you', user: user

    = render 'trips_and_rides', user: user

    = will_paginate trips, :class => 'digg_pagination'
    = render 'trips/search_interface'
    #trips
      = render 'trips/list', :trips => user.trips
    = will_paginate trips, :class => 'digg_pagination'

  .right_column
    = render 'users/right_column', user: user

