- title "#{h(@user)}"

%h1= @user.username.capitalize

= link_to 'Log New Trip', new_trip_path if user_signed_in?

%p
  = user_hitchhiked(@user, @hitchhikes, @total_distance)
  = user_waited_averagely(@user, @average_waiting_time)
  / = user_waited_totally(@user, @total_waiting_time, @waiting_time_array)
  = average_drivers_age(@user, @avg_drivers_age)
  = user_wrote_stories(@user, @stories)
  
= render :partial => 'country_chart', :locals => {:user => @user} unless @user.trips.empty?

%p="#{@user} logged #{pluralize(@user.trips.size, 'trip')}:"
%ul
  - for trip in @trips
    %li
      = trip.date.strftime("%d %b %y") unless trip.date.nil?
      = link_to_trip(trip)
      - if user_signed_in? && trip.user == current_user
        |
        = link_to "edit", edit_trip_path(trip)
        |
        = link_to "delete", trip_path(trip), :method => :delete, :confirm => 'Are you sure?' 
      