%h1= t('general.forgot_your_password')
= form_for(resource, as:  resource_name, url:  password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .text_field
    = f.label :email
    = f.text_field :email

  %p= f.submit "Send me reset password instructions"
