%li.dropdown
  %a.dropdown-toggle{href: "#", "data-toggle"=>"dropdown"}
    != "<div class='flags-#{I18n.locale}'></div>"
  %ul.dropdown-menu
    - I18n.available_locales.each do |locale|
      %li
        = link_to url_for(locale: locale) do
          != "<div class='flags-#{locale}'></div>"
          != "<i class='fa.fa-hand-o-left'></i>" if I18n.locale == locale
