%nav
  %ul
    %li= link_to t('.about'), about_path
    %li= link_to t('.blog'), 'http://blog.hitchlog.com/'
    %li= link_to t('.trips'), trips_path
    %li= link_to t('.hitchhikers'), users_path
    %li.dropdown
      = link_to t('.language'), '', id: 'choose_language'
      .dropped-down-container
        .dropped-down
          %p
            = link_to t('.english'), url_for(:locale => :en)
            %br/
            = link_to t('.german'),  url_for(:locale => :de)

    %li= render 'shared/sign_in_and_out'
    - if user_signed_in?
      %li.nav_your_profile.dropdown
        = link_to user_path(current_user) do
          = render 'users/profile_image', user: current_user, type: 'square'
          ▼
          = t('.your_profile')

        .dropped-down-container
          .dropped-down
            %p
              = link_to t('.log_new_trip'), new_trip_path
              %br/
              = link_to t('.edit_profile'), edit_user_path(current_user)
