%nav
  %ul
    %li= link_to 'About', about_path
    %li= link_to 'Home', root_path
    %li= link_to 'Blog', 'http://blog.hitchlog.com/'
    %li= link_to 'Trips', trips_path
    %li= link_to 'Hitchhikers', users_path
    %li= render :partial => 'shared/sign_in_and_out'
    - if user_signed_in?
      %li.nav_your_profile
        = link_to user_path(current_user) do
          = render 'users/profile_image', user: current_user, type: 'square'
          -#▼
          = t('.your_profile')

