-# This is just a temporary var, when feature finished, it will be deleted
- photo_ride = Trip.find(592).rides.first

.hitchslide
  .hitchslide-left

  .hitchslide-right
    .nivo-theme-default
      #slider.nivoSlider
        = link_to trip_path(photo_ride.trip), class: 'nivo-imageLink' do
          = image_tag(photo_ride.photo.url(:cropped), style: 'display: block;')
        .nivo-caption
          %p
            Hitchhiking in Iran
            = hitchhiking_with_image(photo_ride.trip.travelling_with)
            = country_images_for_trip(photo_ride.trip)
            = experience_image(photo_ride.experience)
            = gender_people_image(photo_ride.gender) if photo_ride.gender
            = waiting_time_image(human_minutes(photo_ride.waiting_time)) if photo_ride.waiting_time
            = driving_time_image(human_hours(photo_ride.duration)) if photo_ride.duration
            = country_images_for_trip(photo_ride.trip)

        .nivo-directionNav
          %a.nivo-prevNav Prev
          %a.nivo-nextNav Next
