-# This is just a temporary var, when feature finished, it will be deleted
- ride = Ride.where("photo_file_name is not null").sample

.hitchslide
  .hitchslide-left
    .hitchslider
      = link_to trip_path(ride.trip), class: 'nivo-imageLink' do
        = image_tag(ride.photo.url(:cropped), style: 'display: block;')

      .hitchslider-directionNav
        %a.hitchslider-prevNav Prev
        %a.hitchslider-nextNav Next

  .hitchslide-right
    .hitchslide-map#hitchslider_map

  .hitchslider-caption
    %p
      = t('trips.trip.time_ago', time: time_ago_in_words(ride.trip.start).capitalize) if ride.trip.start
      = t('trips.trip.user_hitchhiked_text', user: ride.trip.user.to_s, distance: distance(ride.trip.distance), from: ride.trip.from, to: ride.trip.to, rides_size: ride.trip.rides.size).html_safe
      = ride.caption_or_title
      = hitchhiking_with_image(ride.trip.travelling_with)
      = country_images_for_trip(ride.trip)
      = experience_image(ride.experience)
      = gender_people_image(ride.gender) if ride.gender
      = waiting_time_image(human_minutes(ride.waiting_time)) if ride.waiting_time
      = driving_time_image(human_hours(ride.duration)) if ride.duration
      = link_to "(more)", trip_path(ride.trip)

- content_for :javascript_at_bottom do
  = google_maps_js
  :javascript
    var hitchslider_route = "#{escape_javascript(ride.trip.route)}"
    var hitchslider_from  = "#{escape_javascript(ride.trip.from)}"
    var hitchslider_to    = "#{escape_javascript(ride.trip.to)}"

    Hitchmap.init_map({draggable: false}, "#hitchslider_map")
    Hitchmap.set_new_route(hitchslider_route, hitchslider_from, hitchslider_to)
