%p.short_headline
  %span
    = icon('video-camera')
    = t("welcome.home.newest_videos")

%ul.new_hitchhiking_videos
  - Ride.where.not(youtube: nil).order("id DESC").paginate(page: 1, per_page: 1).each do |ride|
    %li
      = trip_with_icons(ride.trip)
      = embed_youtube_video(ride.youtube)

%p
  %strong= link_to t('welcome.home.more_videos'), "/trips?q%5Brides_youtube_present%5D=1"
