.home_sidebar.new_hitchhikers
  %p.short_headline
    %span 
      %i.icon-user
      = t('welcome.home.newest_hitchhikers')
  %ul
    - User.paginate(per_page: 8, page: 1).each do |user|
      %li
        = link_to user_path(user) do
          #{user} (#{user.trips.size})
        = hitchhiker_gender(user.gender)
        = flag(user.country_code) if user.country_code

    %strong=link_to t('welcome.home.more_hitchhikers'), users_path 
