%p.short_headline
  %span 
    %i.icon-book
    = t('welcome.home.newest_hh_stories')
%ul
  - Ride.with_story.latest_first.paginate(per_page: 4, page: 1).each do |ride|
    %li
      = link_to trip_path(ride.trip) do
        = ride.trip
      = experience(ride.experience)
      = countries_for_trip(ride.trip)

      = t('welcome.home.hitchhiked_by_user',
        user: link_to_user(ride.trip.user),
        time: time_ago_in_words(ride.trip.departure)).html_safe
      = hitchhiker_gender(ride.trip.user.gender)
      %br/
      %b= truncate(ride.title, length: 50)
      = truncated_markdown(ride.story)

%strong=link_to t('welcome.home.more_stories'), "/trips?stories=1"
