- title "About"

.hero-unit
  %h1 About

%p.big= t('.intro').html_safe

.row-fluid
  .span4
    %p= t('.column1').html_safe
  .span4
    %p= t('.column2').html_safe
  .span4
    %p= t('.column3').html_safe

%hr/

%h3 Friends:
.row-fluid
  .span6
    %h3.short_headline
      %span Tramprennen
    %p
      = link_to(image_tag('tramprennen_logo.png', class: 'alignleft'), "http://www.vivaconagua.org/")
      Since 2006 a growing group of hitchhikers are racing around Europe
      by hitchhiking. They are organized in teams and within two weeks
      the teams arrive step by step at a final destiniation.
    %p
      Since 2008 Tramprennen supports the NGO VivaConAgua. VivaConAgua build clean water
      suplies in third world countries. Together with 96 Teams and 232 attendees,
      Tramprennen managed in 2011 to gather money worth building 6 remarkable
      water suplies around the equator.
    %p
      Visit <a href='http://tramprennen.org/'>Trampprenenn.org</a> to find out about the
      latest project where <b>you</b> could become part of as well.

  .span6
    %h3.short_headline
      %span Hitchwiki
    %p
      Just like Wikipedia, <a href='http://hitchwiki.org/'>Hitchwiki</a> is a
      wiki but for hitchhiking. Hitchhikers from all around the world share tips
      and information all around hitchhiking. It helped many hitchhikers to find
      a good spot to leave the city and is really useful.
%hr/

.row-fluid
  .span6
    %h2 Contributors
    %p
      The Hitchlog would not be what it is today without the help of:
      %ul
        %li
          #{ florian } Vallen who built it.
        %li
          #{ ben } who helped out with the
          #{ flag('fr') } translation.
        %li
          #{ samuel } who helped out with the
          #{ flag('pt') } translation.
    %p
      If you happen to speak a language other than english well and you would like to help translate the Hitchlog,
      please send #{ florian } a message, he will set you up for the
      translation. It is pretty easy and whether you believe it or not, it is even fun!
    %p
      #{florian} is developing and maintaining the site.
  .span6

    %h2 Contribute
    = image_tag 'open-source.png'
    %p
      The Hitchlog lives off the community and without hitchhikers logging trips
      this application is worthless. Logging previous hitchhiking trips and
      telling some stories is already really helpful. You can also spread the
      word by telling your fellow hitchhiking friends about the site.
    %p
      At the moment #{ florian } is developing and
      maintaining this application. He is always on the lookout for other
      developers who would like to get involved. Also he gets very happy if
      someone shoots him a mail, telling him that he likes the idea of the Hitchlog.
      %br/
      The application is completely open-source and available on
      <a href='http://github.com/flov/Hitchlog'>Github</a>.

%hr/

%h3.short_headline
  %span How To Contribute
%p
  There are many ways to contribute to <a href='http://hitchlog.com'>Hitchlog.com</a>:
%ul
  %li
    If you want to see Hitchlog in your locale language, help to translate the webpage.
    Please drop a line to `florian@hitchlog.com`
  %li
    Help with programming.<br/>
    The source code is on <a href='http://github.com/flov/Hitchlog'>Github</a>
    %br/
    Currently #{florian} is developing and maintaining the hitchlog.
    If you want to contribute with programming the future, go for it!<br/>
    Ruby on Rails is a great and fun framework!<br/>
    Shoot #{florian} a mail in case you want to help out.
  %li
    Give it a shout on twitter, facebook or another social medium.
  %li
    Log Hitchhiking Trips

%p
  If you would like to give some feedback, help or if you just want to say
  hello, please get in touch by sending #{florian} an email:
  %br/
  florian@hitchlog.com
