- title("A Hitchhiker's Logbook")

= render 'content_for_home' unless @hitchhike.nil?

.home
  .left
    %h1 Hitchlog
    .statistics
      .first
        = @hitchhike_size
        .subtitle Hitchhikes
      .second
        = @story_size
        .subtitle Stories
      .third
        = number_with_delimiter(@hitchhiked_km, :delimiter => ".")
        .subtitle KM Hitchhiked
    %p 
      Hitchlog tries to make the world a more hitchhiker friendly place.<br />
      By logging the hitchhikers personal experience while hitting the road,
      the Hitchlog makes it easy to share the experiences on the road and 
      to give an authentic picture on hitchhiking.

    .chart_image
      = image_tag @chart_image

  .right
    %h3 Latest Hitchhiking Stories
    %ul
      -@hitchhikes_with_story.each do |hitchhike|
        %li
          = link_to hitchhike.title, hitchhike_path(hitchhike)
          by 
          = link_to h(hitchhike.trip.user), user_path(hitchhike.trip.user)
          = images_for_hitchhike(hitchhike)
      %li=link_to "... More Stories", trips_path 
