- title("A Hitchhiker's Logbook")

= render 'content_for_home' unless @hitchhike.nil?

.float_wrapper.home
  .header
    %h1.center Hitchlog
    .statistics
      .first
        = @hitchhike_size
        .subtitle Hitchhikes
      .second
        = @story_size
        .subtitle Stories
      .third
        = number_with_delimiter(@hitchhiked_km, :delimiter => ".")
        .subtitle KM Hitchhiked
    %p 
      Hitchlog tries to make the world a more hitchhiker friendly place.<br />
      By logging the hitchhikers personal experience while hitting the road,
      the Hitchlog makes it easy to share the experiences on the road and 
      to give an authentic picture on hitchhiking.

    .chart_image
      = image_tag @chart_image
