- title(t('general.slogan'))
- meta_keywords
- meta_description(t('.meta_description'))

.jumbotron
  %h1#headline
    Hitchlog

.row-fluid.text-center.centered-row
  .span3
  .span6
    %p.big
      = link_to t('.share_your_hh_xp'), new_trip_path

    - unless user_signed_in?
      %p.sign_up#facebook_login
        = link_to image_tag("sign-in-facebook.png", alt: t('general.sign_in_with_facebook'),
          style: 'width: 300px;'), user_facebook_omniauth_authorize_path
      %p
        or
        = link_to 'sign up with the form', new_user_registration_path
    %p
      = succeed ':' do
        = t('.explore_hh_xp')

.row-fluid
  .span12
    #worldmap_home

- content_for :javascript_at_bottom do
  = javascript_include_tag 'vendor/jquery-jvectormap-1.2.2.min'
  = javascript_include_tag 'vendor/jquery-jvectormap-world-mill-en'
  = javascript_include_tag 'custom/jvectormap_home'

%hr/

.row-fluid
  .span6
    = render 'newest_stories'
    %hr/
    = render 'newest_trips'
    %hr/
    = render 'newest_hitchhikers'

  .span6
    = render 'hitchhiking_buddies'
    %hr/
    = render "newest_videos"
    %hr/
    = render 'newest_pics'
