- title("A Hitchhiker's Logbook")

= content_for :layout_header do
  #main-message
    %h1 
      Facilitating A Greater Understanding Of Hitchhiking.
    %h2
      = link_to 'Share your hitchhiking experience with us.', new_trip_path
      %br/
      Get in touch with Hitchhikers who already hitched a route.
      %br/
  #right-message
    - unless user_signed_in?
      = facebook_button
      = link_to 'Sign Up', new_user_registration_path, :class => 'button light'
      = link_to 'Sign In', new_user_session_path, :class => 'button light'

= content_for :topmenu do
  = render :partial => 'layouts/statistics'

.home
  .left
    %h1 Welcome!
    %p 
      We are trying to make the world a more hitchhiker friendly place.<br />
      By logging personal hitchhiking experiences, we are trying to paint a 
      pretty authentic picture about what hitchhiking is actually like.
      If you have ever hitchhiked, you are welcome to 
      = link_to 'share your experience with us.', new_trip_path
      The information that you enter on this site gets parsed into demographic data
      so that we can tell the average waiting time for a ride in let's say China,
      your longest/fastest hitchhike, the countries where you hitchhiked, and more... <br />
      Below you can see a piechart which consists the countries of the logged
      Hitchhikes
      The information that you enter on this site gets parsed into demographic data
      so that we can tell the average waiting time for a ride in let's say China,
      your longest/fastest hitchhike, the countries where you hitchhiked, and more... <br />
      Below you can see a piechart which consists the countries of the logged
      Hitchhikes
    .chart_image
      = image_tag @chart_image

  .right
    %h3 Latest Hitchhiking trips
    %ul
      -@paginated_trips.each do |trip|
        %li
          = link_to "#{h(trip.from_city)} &rarr; #{h(trip.to_city)}".html_safe, trip_path(trip)
          hitchhiked by 
          = link_to h(trip.user), user_path(trip.user)
      %li.text_center=link_to "... More Trips", trips_path 

    %h3 Latest Hitchhiking Stories
    %ul
      -@hitchhikes_with_story.each do |hitchhike|
        %li
          = link_to "#{h(hitchhike.title)} #{images_for_hitchhike(hitchhike)}".html_safe, hitchhike_path(hitchhike)
          -#.float_right
          by 
          = link_to h(hitchhike.trip.user), user_path(hitchhike.trip.user)
      %li.text_center=link_to "... More Stories", trips_path 


    %h3 Newest Hitchhikers
    %ul
      -@hitchhikers.each do |hitchhiker|
        %li
          = link_to "#{hitchhiker.username}, logged #{hitchhiker.trips.size} Trips" , user_path(hitchhiker)
      %li.text_center=link_to "... More Hitchhikers", users_path 

    = flattr_button

:javascript
  $("#hitchhike-photo-details").css('bottom', '0px')
