- title("A Hitchhiker's Logbook")

= render 'content_for_home' unless @hitchhike.nil?

.home
  .logo=image_tag 'Hitchlog.png'
  .left
    .statistics
      .first
        = @hitchhike_size
        .subtitle Hitchhikes
      .second
        = @story_size
        .subtitle Stories
      .third
        = number_with_delimiter(@hitchhiked_km, :delimiter => ".")
        .subtitle KM Hitchhiked
    %h3
      Welcome!
    %p 
      We are trying to make the world a more hitchhiker friendly place.<br />
      By logging personal hitchhiking experiences, we are trying to paint a 
      pretty authentic picture about what hitchhiking is actually like.
      If you have ever hitchhiked, you are welcome to 
      = link_to 'share your experience with us.', new_trip_path
      The information that you enter on this site gets parsed into demographic data
      so that we can tell the average waiting time for a ride in let's say China,
      your longest/fastest hitchhike, the countries where you hitchhiked, and more... <br />
      Below you can see a piechart which consists the countries of the #{@hitchhike_size} 
      logged Hitchhikes
    .chart_image
      = image_tag @chart_image

  .right
    %h3 Latest Hitchhiking Stories
    %ul
      -@hitchhikes_with_story.each do |hitchhike|
        %li
          = link_to "#{hitchhike.title} #{images_for_hitchhike(hitchhike)}".html_safe, hitchhike_path(hitchhike)
          -#.float_right
          by 
          = link_to h(hitchhike.trip.user), user_path(hitchhike.trip.user)
      %li.text_center=link_to "... More Stories", trips_path 

:javascript
  $("#hitchhike-photo-details").css('bottom', '0px')
