- title(t('general.slogan'))

.jumbotron
  %h1#headline
    Hitchlog
  %p.lead= t('welcome.home.share_and_keep_track')
  - unless user_signed_in?
    = link_to t('general.sign_in_with_facebook'), '/auth/facebook', class: 'btn btn-large btn-success facebook-signin'


.row-fluid
  .span4
    = render 'newest_stories'
  .span4
    = render 'newest_trips'
  .span4
    = render 'newest_hitchhikers'
