- title(t('general.slogan'))

= content_for :layout_header do

  #main-message
    %h1=t('general.slogan')

    -#%h2
      = link_to t('.share_your_trip_with_us'), new_trip_path
      %br/
      = t('.get_in_touch_with_hitchhikers')
      %br/
  #right-message
    - unless user_signed_in?
      %p
        = link_to t('.sign_up'), new_user_registration_path, :class => 'pretty_button'
        = link_to t('.sign_in'), new_user_session_path, :class => 'pretty_button'
        = link_to t('.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook), :class => 'pretty_button'

= content_for :topmenu do
  = render 'hitchslide'

.home
