- title("A Hitchhiker's Logbook")

= content_for :layout_header do
  #main-message
    %h1=t('general.slogan') 
    
    %h2
      = link_to t('.share_your_trip_with_us'), new_trip_path
      %br/
      = t('.get_in_touch_with_hitchhikers')
      %br/
  #right-message
    - unless user_signed_in?
      = facebook_button
      = link_to t('.sign_up'), new_user_registration_path, :class => 'button light'
      = link_to t('.sign_in'), new_user_session_path, :class => 'button light'

= content_for :topmenu do
  = render :partial => 'layouts/statistics'

.home
  .left
    %h1= t('.welcome')
    %p!= t('.text1')
    %p
      = t('.text2')
      .chart_image
        = image_tag @chart_image

  .right
    %h3 Find Hitchlog On:
    .find_hitchlog_on
      = find_hitchlog_on_facebook
      = find_hitchlog_on_twitter
    
    %h3 Newest Hitchhiking trips
    %ul
      -@paginated_trips.each do |trip|
        %li
          = link_to "#{h(trip.from_city)} &rarr; #{h(trip.to_city)} #{images_for_trip(trip)}".html_safe, trip_path(trip)
          hitchhiked by 
          = link_to h(trip.user), user_path(trip.user)
      %li.text_center=link_to "... More Trips", trips_path 

    %h3 Newest Hitchhiking Stories
    %ul
      -@rides_with_story.each do |ride|
        %li
          = link_to "#{ride_title(ride)} #{images_for_ride(ride)}".html_safe, trip_path(ride.trip)
          by 
          = link_to h(ride.trip.user), user_path(ride.trip.user)
      %li.text_center=link_to "... More Stories", trips_path 


    %h3 Newest Hitchhikers
    %ul
      -@hitchhikers.each do |hitchhiker|
        %li
          = link_to "#{hitchhiker.username}, logged #{hitchhiker.trips.size} Trips" , user_path(hitchhiker)
      %li.text_center=link_to "... More Hitchhikers", users_path 

    = flattr_button

:javascript
  $("#hitchhike-photo-details").css('bottom', '0px')
