- title(t('general.slogan'))
- meta_keywords
- meta_description(t('.meta_description'))

.jumbotron
  %h1#headline
    Hitchlog

.row-fluid.text-center.centered-row
  .span3
  .span6
    %p.big
      = link_to t('.share_your_hh_xp'), new_trip_path

    - unless user_signed_in?
      %p.sign_up
        = link_to t('general.sign_up'), new_user_registration_path, class: 'btn btn-primary', style: 'margin-right: 10px;'
        = t('.or_sign_in_with')
        %span#facebook_login
          = link_to image_tag('omniauthbuttons/png/facebook_32.png'), user_omniauth_authorize_path(:facebook), alt: 'Sign in with fb', style: 'margin-left: 10px;'

    = succeed ':' do
      = t('.explore_hh_xp')
    %p= all_country_images

%hr/

.row-fluid
  .span6
    = render 'newest_stories'
    %hr/
    = render 'newest_trips'
  .span6
    = render 'hitchhiking_buddies'
    %hr/
    = render 'newest_hitchhikers'
