- title(t('general.slogan'))

.jumbotron
  %h1#headline
    Hitchlog

  %p.lead= t('.share_your_hh_xp')

  .row-fluid.explore_countries
    .span3
    .span6
      = succeed ':' do
        = t('.explore_hh_xp')
      %p= all_country_images

      - unless user_signed_in?
        %p.sign_up
          = link_to t('general.sign_up'), new_user_registration_path, class: 'btn btn-primary', style: 'margin-right: 10px;'
          = t('.or_sign_in_with')
          = link_to image_tag('omniauthbuttons/png/facebook_32.png'), '/auth/facebook', alt: 'Sign in with fb', style: 'margin-left: 10px;'
    .span3
.row-fluid
  .span4
    = render 'newest_stories'
  .span4
    = render 'newest_trips'
  .span4
    = render 'news'
    = render 'newest_hitchhikers'
