- title t('.sign_in')

.login-box.clearfix
  %header
    %h2.short_headline
      %span= t('.login_to_your_account')

  .login-wrapper.clearfix
    .float-right
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login_form'}) do |f|
        = f.label :username
        .input-prepend
          %span.add-on
            %i.fa.fa-user

          = f.text_field :username, autofocus: 'true', required: true
        = f.label :password
        .input-prepend
          %span.add-on
            %i.fa.fa-key
          = f.text_field :password,  required: true, type: 'password'


        = f.label :remember_me, class: 'checkbox inline' do
          = f.check_box :remember_me
          = t('devise.sessions.remember_me')

        .submit
          = f.submit t('.hitch_in'), class: 'btn btn-danger'

      %footer.clearfix
        .forgotpw= link_to t('.forgot_password'), new_user_password_path

    .float-left
      %ul
        %li
          = link_to image_tag("sign-in-facebook.png", alt: t('general.sign_in_with_facebook'), style: 'width: 100%;'), user_omniauth_authorize_path(:facebook)

      %p
        = link_to t('.not_on_hitchlog'), new_user_registration_path


