- title t('.sign_in')

.login-box.clearfix
  %header
    %h2.short_headline
      %span Login to your account...

  .login-wrapper.clearfix
    .float-right
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login_form'}) do |f|
        = f.label :email
        .input-prepend
          %span.add-on @
          = f.text_field :email, autofocus: 'true', required: true, type: 'email'
        = f.label :password
        .input-prepend
          %span.add-on #
          = f.text_field :password,  required: true, type: 'password'


        = f.label :remember_me, class: 'checkbox inline' do
          = f.check_box :remember_me
          = t('devise.sessions.remember_me')

        = f.submit

      %footer.clearfix
        %a.forgotpw{:href => "#"} Forgot Password?

    .float-left
      %ul
        %li
          = link_to image_tag("sign-in-facebook.png", alt: t('general.sign_in_with_facebook')), '/auth/facebook'

      %p
        = link_to new_user_registration_path do
          Not a member? Join today!


