- title t('.sign_in')

.login-box.clearfix
  %header
    %h2.short_headline
      %span Login to your account...

  .login-wrapper.clearfix
    .float-right
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login_form'}) do |f|
        = f.label :username
        .input-prepend
          %span.add-on
            %i.icon-envelope

          = f.text_field :username, autofocus: 'true', required: true
        = f.label :password
        .input-prepend
          %span.add-on
            %i.icon-key
          = f.text_field :password,  required: true, type: 'password'


        = f.label :remember_me, class: 'checkbox inline' do
          = f.check_box :remember_me
          Remember Me

        .submit
          = f.submit "Hitch in", class: 'btn btn-danger'

      %footer.clearfix
        %a.forgotpw{:href => "#"} Forgot Password?

    .float-left
      %ul
        %li
          = link_to image_tag("sign-in-facebook.png", alt: t('general.sign_in_with_facebook'), style: 'width: 100%;'), '/auth/facebook'

      %p
        = link_to new_user_registration_path do
          Not on Hitchlog yet? Register here


