- title t('.sign_in')

- content_for :topmenu do
  %h1
    =t('.sign_in')

%table#sign_in
  %tr
    %td
      =facebook_login
    %td
      =t('.or')
    %td
      %h2= t('.login_using_normal_font') 
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'fancy_form'}) do |f|
        .text_field
          = f.label :username
          = f.text_field :username
        .text_field
          = f.label :password
          = f.password_field :password
        - if devise_mapping.rememberable?
          %p
            = f.check_box :remember_me
            = f.label :remember_me
        %p= f.submit "Sign in"
