= form_for @hitchhike, :html => { :multipart => true } do |f|

  - if @hitchhike.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@hitchhike.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      = @hitchhike.errors.full_messages.each do |msg|
        %li= msg

  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :from
    %br/
    = f.text_field :from
  %p
    = f.label :to
    %br/
    = f.text_field :to
  %p
    = f.label :date, 'When (format: dd/mm/yyyy)'
    %br/
    = f.text_field :date
  %p
    = f.label :story
    %br/
    = f.text_area :story
  %p
    = f.label :waiting_time, 'Waiting time (in minutes)'
    %br/
    = f.text_field :waiting_time
  %h4 Person who picked you up:
  = f.fields_for :people do |builder|
    %p
      = builder.label :name
      %br/
      = builder.text_field :name
    %p
      = builder.label :gender
      %br/
      = builder.select("gender", %w[male female])
    %p
      = builder.label :mission
      %br/
      = builder.text_field :mission
    %p
      = builder.label :origin
      %br/
      = builder.text_field :origin
    %p
      = builder.label :occupation
      %br/
      = builder.text_field :occupation
    %p
      = builder.label :age
      %br/
      = builder.text_field :age
  %p
    = f.label :photo
    %br/
    = f.file_field :photo
  %p= f.submit "Submit"
