= link_to @hitchhike.trip.user, user_path(@hitchhike.trip.user)
rode 
%b= distance(@hitchhike.trip.distance)
- if trip_has_duration(@hitchhike.trip)
  in
  %b= human_hours(@hitchhike.trip.new_duration)
from #{@hitchhike.trip.from_city_sanitized} to #{@hitchhike.trip.to_city_sanitized}.<br />
-if @hitchhike.trip.hitchhikes.size > 1
  This is the #{show_ordinal_of_ride(@hitchhike)} out of #{@hitchhike.trip.hitchhikes.size} rides
-else
  This is the #{show_ordinal_of_ride(@hitchhike)} ride
= "and it took <b>#{human_hours(@hitchhike.duration)}</b>.".html_safe unless @hitchhike.duration.blank?
