%h1 Your Hitchhikes:
%table
  %tr
    %th Title
    %th From
    %th To
    %th Story
    %th Waiting Time
    %th About person:
    %th Name
    %th Occupation
    %th Gender
    %th Mission
    %th Origin
    %th Age
    
  - for hitchhike in @hitchhikes
    %tr
      %td= hitchhike.title
      %td= hitchhike.from
      %td= hitchhike.to
      %td= "#{hitchhike.story[0..40]}..." unless hitchhike.story.empty?
      %td= "#{hitchhike.waiting_time} minutes"
      %td
      %td= hitchhike.people.first.name
      %td= hitchhike.people.first.occupation
      %td= hitchhike.people.first.gender
      %td= hitchhike.people.first.mission
      %td= hitchhike.people.first.origin
      %td= hitchhike.people.first.age
      %td= link_to "Show", hitchhike
      %td= link_to "Edit", edit_hitchhike_path(hitchhike)
      %td= link_to "Destroy", hitchhike, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Hitchhike", new_hitchhike_path


/ = builder.label :name
/ = builder.label :gender
/ = builder.label :mission
/ = builder.label :origin
/ = builder.label :occupation
/ = builder.label :age
