%h1= @hitchhike.title
- if @hitchhike.photo.file?
  = image_tag @hitchhike.photo.url(:cropped)
%p
  = @hitchhike.trip
%p
  = @hitchhike.story
- if @hitchhike.waiting_time
  %p
    %strong waiting_time:
    = @hitchhike.waiting_time
- unless @hitchhike.person.name.blank?
  %p
    Person:<br />
    %strong Name:
    = @hitchhike.person.name
- unless @hitchhike.person.mission.blank?
  %p
    %strong Mission:
    = @hitchhike.person.mission
- unless @hitchhike.person.origin.blank?
  %p
    %strong Origin:
    = @hitchhike.person.origin
