- hitchhike_show_title(@hitchhike)

= render 'topmenu_photo', :hitchhike => @hitchhike
.hitchhike_show_box
  = render 'hitchhikes/show_date', :date => @hitchhike.trip.start if @hitchhike.trip.start
  = render 'hitchhikes/hitchhike_buttons', :trip => @hitchhike.trip, :hitchhike => @hitchhike
  %h1= @hitchhike.trip
  %p= render 'hitchhikes/hitchhike_text'
  %p= this_is_your_hitchhike(@hitchhike.trip.user)

= render 'show_hitchhike', :hitchhike => @hitchhike unless @hitchhike.story.blank?


