- title("#{number_to_ordinal(@hitchhike.no_in_trip)} Hitchhike from #{@hitchhike.trip.from} to #{@hitchhike.trip.to}")

-content_for :topmenu do
  = render 'layouts/hitchhike_photo'

%h1= @hitchhike.title
%ul.hitchhike-subtitle 
  %li="By #{link_to_user(@hitchhike.trip.user)}".html_safe
  %li="#{@hitchhike.trip.to_date}"
  %li="#{distance(@hitchhike.trip.distance)}"
  %li="#{number_to_ordinal(@hitchhike.no_in_trip)} ride"
  %br/
  - unless @hitchhike.duration.blank?
    %li="took #{human_hours(@hitchhike.duration)}"
  - unless @hitchhike.waiting_time.blank?
    %li="waited #{human_minutes(@hitchhike.waiting_time)}"

= BlueCloth.new(@hitchhike.story).to_html.html_safe

- content_for :head do
  = javascript_include_tag 'hitchhike_photo_show'
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}  
