<p>
  <strong>Title:</strong>
  <%=h @hitchhike.title %>
</p>
<p>
  <strong>From:</strong>
  <%=h @hitchhike.from %>
</p>
<p>
  <strong>To:</strong>
  <%=h @hitchhike.to %>
</p>

<p><%= image_tag @hitchhike.photo.url(:large) %></p>

<p>
  <%= link_to "Edit", edit_hitchhike_path(@hitchhike) %> |
  <%= link_to "Destroy", @hitchhike, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", hitchhikes_path %>
</p>
