%p
  %strong Title:
  = h @hitchhike.title
%p
  %strong From:
  = h @hitchhike.from
%p
  %strong To:
  = h @hitchhike.to

%p
  cropped:
  %br/
  = image_tag @hitchhike.photo.url(:cropped) if @hitchhike.photo.file?
%p
  large:
  %br/
  = image_tag @hitchhike.photo.url(:large) if @hitchhike.photo.file?
%p
  = link_to "Edit", edit_hitchhike_path(@hitchhike)
  | 
  = link_to "Destroy", @hitchhike, :method => :delete, :confirm => 'Are you sure?'
  |
  = link_to "View All", hitchhikes_path
