%ul.hitchhike-subtitle 
  %li="Hitchhiked by #{link_to_user(hitchhike.trip.user)}".html_safe
  %li="#{distance(hitchhike.trip.distance)}"
  %li="#{number_to_ordinal(hitchhike.no_in_trip)} ride"
  - unless hitchhike.waiting_time.blank?
    %li="waited #{human_minutes(hitchhike.waiting_time)}"
  %br/
  - unless hitchhike.duration.blank?
    %li="Ride took #{human_hours(hitchhike.duration)}"
  - unless hitchhike.trip.duration.blank?
    %li="Trip took #{human_hours(hitchhike.trip.duration)}"
