%p Ride #{ride.number}
.accordion_content
  = form_for ride, html:  {multipart:  true} do |f|
    - if ride.errors.any?
      #error_explanation
        %h2
          = pluralize(ride.errors.count, "error")
          prohibited this article from being saved:
        %ul
          - ride.errors.full_messages.each do |msg|
            %li= msg
    .section
      = experience(ride.experience)
      = f.label("experience")
      = f.select("experience", [I18n.t('general.very_good'), I18n.t('general.good'), I18n.t('general.neutral'), I18n.t('general.bad'), I18n.t('general.very_bad')])
      %br/
      = f.label :tag_list, t('.tag_it')
      = f.text_field :tag_list
      %br/
      = f.label :title
      %br/
      = f.text_field :title, placeholder: t('general.story_title')
      %br/
      = f.label :story
      %br/
      = f.text_area :story, rows:  4, placeholder: t('general.story').capitalize
    .section
      - unless ride.photo.url.nil?
        = image_tag(ride.photo.thumb.url)
        = link_to t('general.delete'), delete_photo_ride_path(ride), method: :delete, confirm: t('general.confirm'), class: 'btn btn-danger'
        %br/
      = f.label :photo
      %i.fa.fa-picture
      %br/
      = f.file_field :photo
      = f.hidden_field :photo_cache
      %br/
      = f.label :photo_caption
      %br/
      = f.text_field :photo_caption, placeholder: t('general.photo_caption')
    .section.waiting_time
      = f.label :vehicle
      %br/
      = f.select("vehicle", Ride::VEHICLES, {include_blank:  true})

      %br/

      = f.label :waiting_time
      %i.fa.fa-time
      %br/
      = f.text_field :waiting_time, placeholder: t('activerecord.attributes.ride.waiting_time')

      %br/
      = f.label :duration
      %i.fa.fa-road
      %br/
      = f.text_field :duration, placeholder: t('activerecord.attributes.ride.duration')

      %br/
      = f.label :gender
      = passenger_gender(ride.gender)
      %br/
      = f.select("gender", ['male', 'female', 'mixed'], {include_blank:  true})

      %br/
      = f.label :youtube
      %br/
      = f.text_field :youtube

      = submit_tag t(".save_ride"), class: 'btn btn-primary'
