%p.headline Ride #{ride.number}
.accordion_content
  = form_for ride, :html => {:multipart => true} do |f|
    = experience_image(ride.experience)
    = f.label("experience")
    = f.select("experience", [I18n.t('general.extremely_positive'), I18n.t('general.positive'), I18n.t('general.neutral'), I18n.t('general.negative'), I18n.t('general.extremely_negative')])
    .tabs
      %ul
        %li
          %a.last{:href => "#add_story_tab_#{ride.number}"}= add_story_image
        %li
          %a{:href => "#person_info_tab_#{ride.number}"}
            = about_person_image
            = waiting_time_image
        %li
          %a{:href => "#picture_tab_#{ride.number}"}= photo_image_button

      .tab_content{:id => "picture_tab_#{ride.number}"}
        - if ride.photo.file?
          = image_tag(ride.photo(:thumb))
          = link_to t('.delete_image'), delete_photo_ride_path(ride), :method => :delete, :confirm => t('general.confirm')
          %br/
        = f.label :photo_caption
        %br/
        = f.text_field :photo_caption
        %br/
        = f.label :photo
        %br/
        = f.file_field :photo
        %br/
      .tab_content{:id => "person_info_tab_#{ride.number}"}
        = f.label :gender
        %br/
        = f.select("gender", [I18n.t('general.male'), I18n.t('general.female'), I18n.t('general.mixed')], {:include_blank => true})
        %br/
        = f.label :duration
        %br/
        = f.text_field :duration, :placeholder => t('activerecord.attributes.ride.duration')
        %br/
        = f.label :waiting_time
        %br/
        = f.text_field :waiting_time, :placeholder => t('activerecord.attributes.ride.waiting_time')
      .tab_content{:id => "add_story_tab_#{ride.number}"}
        = f.label :title, t('.title_required')
        %br/
        = f.text_field :title
        %br/
        = f.label :story, t('.story_required')
        %br/
        = f.text_area :story, :rows => 4
    = submit_tag
