<% title "Crop photo" %>
<% content_for(:head) do %>
  <%= stylesheet_link_tag "jquery.Jcrop" %>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 500, 250],
      aspectRatio: 2
    });
  });

  function update_crop(coords) {
  	var rx = 500/coords.w;
  	var ry = 250/coords.h;
  	$('#preview').css({
  		width: Math.round(rx * <%= @ride.photo_geometry(:large).width %>) + 'px',
  		height: Math.round(ry * <%= @ride.photo_geometry(:large  ).height %>) + 'px',
  		marginLeft: '-' + Math.round(rx * coords.x) + 'px',
  		marginTop: '-' + Math.round(ry * coords.y) + 'px'
  	});
    var ratio = <%= @ride.photo_geometry(:original).width %> / <%= @ride.photo_geometry(:large).width %>;
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }
  </script>
<% end %>

<h1>Crop the photo</h1>

<%= image_tag @ride.photo.url(:large), :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:500px; height:250px; overflow:hidden">
  <%= image_tag @ride.photo.url(:large), :id => "preview" %>
</div>

<%= form_for @ride, :url => trip_ride_path(@ride.trip, @ride) do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
  <% end %>
  <p><%= f.submit "Crop" %></p>
<% end %>
