#topmenu-wrapper
  #map_canvas
  #hitchhike-photo
    #hitchhike-photo-loader Loading...
    =link_to 'Prev', hitchhike_path(hitchhike.prev), :id => "hitchhike-photo-left"
    =link_to 'Next', hitchhike_path(hitchhike.next), :id => "hitchhike-photo-right"
    #hitchhike-photo-details
      #hitchhike-detail-close
        X
      %p
        = link_to_user(hitchhike.trip.user)
        = "hitchhiked #{distance(hitchhike.trip.distance)} from"
        %span#hitchhike-from= hitchhike.trip.from
        to 
        %span#hitchhike-to= hitchhike.trip.to
        %br/
        = "#{show_ordinal_of_ride(hitchhike)}, #{trip_and_ride_took(hitchhike)}" if hitchhike.trip.duration
        
        = show_photo_link(hitchhike)
    = image_tag hitchhike.photo.url(:cropped), :id => 'hitchhike-photo-photo'

