#topmenu-wrapper
  #map_canvas
  #hitchhike-photo
    #hitchhike-photo-loader Loading...
    - if @hitchhike
      =link_to @hitchhike, hitchhike_path(@hitchhike.prev), :id => "hitchhike-photo-left"
      =link_to @hitchhike, hitchhike_path(@hitchhike.next), :id => "hitchhike-photo-right"
    -else
      %a#hitchhike-photo-left Prev
      %a#hitchhike-photo-right Next    
    #hitchhike-photo-details
      %p
        %span
          = "#{number_to_ordinal(@hitchhike.no_in_trip)} ride going from #{@hitchhike.trip.from} to #{@hitchhike.trip.to}"
          = "(#{link_to 'photo link', @hitchhike.photo(:large)})".html_safe unless @hitchhike.photo.file?
        %br/
        %span
          = "#{distance(@hitchhike.trip.distance)}, hitchhiked by #{link_to h(@hitchhike.trip.user), user_path(@hitchhike.trip.user)}".html_safe
    = image_tag @hitchhike.photo.url(:cropped), :id => 'hitchhike-photo-photo'
