.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    .container
      = link_to "#{image_tag("hitchlog_icon.png")} Hitchlog".html_safe, root_path, class: 'brand'
      %a{ class: "btn btn-navbar", 'data-toggle'=>"collapse", "data-target" => ".nav-collapse"}
        %span.fa.fa-bars
      .nav-collapse.collapse
        %ul.nav
          %li{class: users_active }= link_to "<i class='fa fa-group'></i> #{t('.hitchhikers')}".html_safe, users_path
          %li{class: stats_active }= link_to "<i class='fa fa-pie-chart'></i> #{t('.statistics')}".html_safe, statistics_path
          %li{class: trips_active }= link_to "<i class='fa fa-road'></i> #{t('.trips')}".html_safe, trips_path
          - if user_signed_in?
            %li{class: new_trip_active }= link_to "<i class='fa fa-thumbs-up'></i>#{t('.log_new_trip')}".html_safe, new_trip_path
          %li{class: about_active }= link_to t('.about'), about_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", "data-toggle"=>"dropdown"}
              - if I18n.locale == :'pt-BR'
                != "<div class='flags-br'></div>"
              - else
                != "<div class='flags-#{I18n.locale}'></div>"
            %ul.dropdown-menu
              - I18n.available_locales.each do |locale|
                %li
                  = link_to url_for(locale: locale) do
                    - if locale == :'pt-BR'
                      != "<div class='flags-br'></div>"
                    - else
                      != "<div class='flags-#{locale}'></div>"

        - if user_signed_in?
          .pull-right.your_profile_bar
            = link_to user_path(current_user) do
              = render 'users/profile_image', user: current_user

            .btn-group
              = link_to user_path(current_user), class: 'btn' do
                = fa_icon 'user', text: t('.your_profile')
              %a.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
                %span.fa.fa-caret-down
              %ul.dropdown-menu
                %li
                  = link_to edit_user_path(current_user) do
                    %i.fa.fa-cog
                    = t('.settings')
                %li
                  = link_to new_trip_path do
                    %i.fa.fa-book
                    = t('.log_new_trip')
                %li
                  = link_to future_trips_path do
                    %i.fa.fa-users
                    = t('.find_hitchhiking_buddy')
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.fa.fa-sign-out
                    = t('.sign_out')

        - else
          .pull-right
            %ul.nav
              %li
                = link_to new_user_session_path do
                  %i.fa.fa-user
                  login
