%nav
  %ul
    %li#nav_about= link_to 'About', about_path
    %li#nav_home= link_to 'Home', root_path
    %li#nav_blog= link_to 'Blog', 'http://blog.hitchlog.com/'
    %li#nav_trips
      = link_to 'Trips', trips_path
    %li#nav_hitchhikes= link_to 'Hitchhikers', users_path
    %li#nav_authenitcation.right= render :partial => 'shared/sign_in_and_out'
