!!!
%html
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = meta_keywords
    = meta_description
    = csrf_meta_tag 
    = yield(:head)

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = include_modernizr_js

  %body{:id => "#{controller.controller_name}_#{controller.action_name}"}
    = render 'shared/banners_in_corners'

    #wrap
      #header
        .container
          .logo=link_to image_tag("hitchlog_logo.png"), root_path
          = render 'layouts/navigation'

      #second-header
        .container
          = yield(:layout_header)

      #third-header
        .container
          = yield(:topmenu)
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

      #content
        .container
          = yield

    %script{:src=>"http://connect.facebook.net/en_US/all.js#xfbml=1"}
    #footer
      &copy; 2011 Hitchlog - #{link_to 'About', 'http://hitchlog.com/about'}
    
  = include_javascripts :workspace
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}  
  = javascript_google_stats
  = yield(:javascript_at_bottom)

