!!!
%html
  %head
    %title= content_for?(:title) ? "Hitchhike.me#{yield(:title)}" : "Hitchhike.me"
    =# meta_keywords
    =# meta_description
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery-1.4.3.min', 'showdown', 'rails', 'application'
    = yield(:head)
    = csrf_meta_tag    
    = javascript_google_stats
  %body
    %div{:style => "position: absolute; top:0; right:0;"}
      = link_to image_tag('forkme_right_white.png'), 'http://github.com/flov/hitchhike.me'
    #topmenu
      = yield(:topmenu)
      %ul#main_nav
        %li#nav_home= link_to 'Home', root_path
        %li#nav_hitchhikes= link_to 'Trips', trips_path
        %li#nav_hitchhikes= link_to 'Hitchhikers', users_path
        %li#nav_authenitcation= render :partial => 'shared/sign_in_and_out'
        / %li#nav_manage=link_to 'Manage profile', edit_user_path(current_user) if user_signed_in?
    #container    
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield

    / %footer
    /   &copy; 2009 Woofer Dog Corporation
  
    = uservoice_feedback