!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} &middot; Hitchlog".html_safe : "Hitchlog"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "http://hitchlog.dev/assets/hitchlog_icon.png", property: "og:image"}/
    = csrf_meta_tag 
    = stylesheet_link_tag 'application'
    = yield(:head)

  %body
    = render 'shared/fb_sdk'
    .hidden{style: 'display: hidden'}
      = I18n.locale

    .wrapper
      = render 'layouts/navigation'

      .container#main-content
        = render 'layouts/flash_messages'

        = yield
      .push
    = render 'shared/footer'

  = javascript_include_tag 'application'

  - if Rails.env == 'production'
    = render 'shared/google_stats'
    = render 'shared/uservoice'

  = yield(:javascript_at_bottom)
