!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = meta_keywords
    = meta_description
    = csrf_meta_tag 
    = stylesheet_link_tag 'application'
    = yield(:head)

  %body
    = render 'layouts/navigation'

    .container#main-content
      = render 'layouts/flash_messages'

      = yield

  %footer#footer
    .container
      .row-fluid
        %h1 Hitchlog

  = javascript_include_tag 'application'
  = render 'shared/google_stats' if Rails.env == 'production'

  = yield(:javascript_at_bottom)
