!!!
%html
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = meta_keywords
    = meta_description
    = csrf_meta_tag 
    = stylesheet_link_tag 'application'
    - unless Rails.env = 'development'
      %link{href:'http://fonts.googleapis.com/css?family=Architects+Daughter|Imprima',rel:'stylesheet',type:'text/css'}

    = yield(:head)

  %body{:id => "#{controller.controller_name}_#{controller.action_name}"}
    <div id="fb-root"></div>
    = render 'shared/facebook_sdk'
    = render 'shared/banners_in_corners'

    #wrap
      #header
        .container
          .logo=link_to image_tag("Hitchlogo.png", width: 195, height: 30, alt: 'Hitchlog logo'), root_path
          = render 'layouts/navigation'

      #second-header
        .container
          = yield(:layout_header)

      #third-header
        .container
          = yield(:topmenu)

      #content
        .container
          - flash.each do |name, msg|
            = content_tag :div, msg, id: "flash_#{name}"
          = yield

    #footer
      &copy; 2011 Hitchlog - #{link_to 'About', 'http://hitchlog.com/about'}

  = javascript_include_tag 'application'
  = render 'shared/google_stats'

  = yield(:javascript_at_bottom)

