!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Hitchhike.me"
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery-1.4.3.min', 'showdown', 'rails', 'application'
    = yield(:head)
    = csrf_meta_tag    
    = javascript_google_stats
  %body
    %div{:style => "position: absolute; top:0; right:0;"}
      = link_to image_tag('forkme_right_white.png'), 'http://github.com/flov/hitchhike.me'
    #topmenu
      = yield(:topmenu)
      %ul#main_nav
        %li#nav_home= link_to 'Home', root_path
        %li#nav_hitchhikes= link_to 'Trips', trips_path
        %li#nav_authenitcation
          - if user_signed_in? 
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign up", new_user_registration_path
            or 
            = link_to "sign in", new_user_session_path             
    #container    
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield

  / %footer
  /   &copy; 2009 Woofer Dog Corporation