!!!
%html
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = meta_keywords
    = meta_description
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}  
    = include_javascripts :workspace
    = yield(:head)
    = csrf_meta_tag 
    = javascript_google_stats
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    :javascript
      (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
      })();
    </script>

  %body
    = render 'shared/banners_in_corners'

    #wrap
      #header
        #container
          .logo=link_to image_tag("hitchlog_logo.png"), root_path
          = render 'layouts/navigation'

      #second-header
        #container
          = yield(:layout_header)

      #third-header
        #container
          = yield(:topmenu)
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

      #container.main
        #content
          = yield

    %script{:src=>"http://connect.facebook.net/en_US/all.js#xfbml=1"}
    #footer
      &copy; 2011 Hitchlog - #{link_to 'About', ''}
  
    -#= uservoice_feedback

