!!!
%html{:lang => "en"}
  %head
    
    %title= content_for?(:title) ? "#{yield(:title)} &middot; Hitchlog".html_safe : "Hitchlog"
    = meta_keywords
    = meta_description
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = csrf_meta_tag 
    = stylesheet_link_tag 'application'
    = yield(:head)

  %body
    = render 'shared/fb_sdk'

    .wrapper
      = render 'layouts/navigation'

      .container#main-content
        = render 'layouts/flash_messages'

        = yield
      .push
    = render 'shared/footer'


  = javascript_include_tag 'application'
  = render 'shared/google_stats' if Rails.env == 'production'

  = yield(:javascript_at_bottom)
