!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = csrf_meta_tag 
    = stylesheet_link_tag 'bootstrap_app'
    = yield(:head)

  %body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          = link_to 'Hitchlog', '', class: 'brand'
          %a{ class: "btn btn-navbar", 'data-toggle'=>"collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %ul.nav
              %li.active= link_to t('.home'), root_path
              %li= link_to t('.about'), about_path
              %li= link_to t('.trips'), trips_path
              %li= link_to t('.hitchhikers'), users_path

              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle"=>"dropdown"}
                  = t('shared.navigation.language')
                  %b.caret
                %ul.dropdown-menu
                  - [ :en, :fr, :pt, :de ].each do |locale|
                    %li
                      = link_to url_for(:locale => locale) do
                        != "<b class='right-caret'></b>" if I18n.locale == locale
                        = image_tag "flags/png/#{locale}.png"

            = link_to t('.sign_in'), new_user_session_path, class: 'btn float-right'

    .container
      = yield

  %footer#footer
    .container
      .row-fluid
        %h1 Hitchlog

  = javascript_include_tag 'bootstrap'
  = yield(:javascript_at_bottom)

