!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = csrf_meta_tag 
    = stylesheet_link_tag 'bootstrap_app'
    = yield(:head)

  %body
    = render 'layouts/navigation'

    .container#main-content
      = yield

  %footer#footer
    .container
      .row-fluid
        %h1 Hitchlog

  = javascript_include_tag 'bootstrap'
  = yield(:javascript_at_bottom)

