!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? "Hitchlog - #{yield(:title)}".html_safe : "Hitchlog"
    = csrf_meta_tag 
    = stylesheet_link_tag 'bootstrap_app'
    = yield(:head)

  %body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          = link_to 'Hitchlog', '', class: 'brand'
          .nav-collapse.collapse
            %ul.nav
              %li.active= link_to t('.home'), root_path
              %li= link_to t('.about'), about_path
              %li= link_to t('.trips'), trips_path
              %li= link_to t('.hitchhikers'), users_path
            = link_to t('.sign_in'), new_user_session_path, class: 'btn btn-primary float-right'

    .container
      = yield

  = javascript_include_tag 'bootstrap'
  = yield(:javascript_at_bottom)

