!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} &middot; Hitchlog".html_safe : "Hitchlog"
    = meta_keywords
    = meta_description
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = csrf_meta_tag 
    = yield(:head)

  %body
    = yield


  = javascript_include_tag 'application'
  = yield(:javascript_at_bottom)

